<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>罗马尼亚</title>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
    <script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
    <link rel="stylesheet" href="css/romania-index.css">
</head>
<body>
<div id="romania" @click="contrast">
    <div class="romania-poster">
        <img class="logo" src="imgs/logo-01_03.png" alt="">
        <p class="white-text title-text">罗马尼亚<br>线下鞋子采购</p>
        <p class="yellow-text slogan">新动向</p>
        <p class="yellow-text slogan">新贸易</p>
        <p class="yellow-text slogan">新纪元</p>
        <p class="yellow-text time">2018.12.4-2018.12.19</p>
        <p class="yellow-text content-01">展厅全年开放</p>
        <p class="white-text content-02">环球龙红街店Drumul Garii 12<br>布加勒斯特077190</p>
        <div class="language">
            <p><span class="lan" @click="handleLanguage"><span style="font-size: 40px;border: none;padding: 0;">=</span> 中文</span><a href="https://www.shoestp.com/home/usr_UsrPurchase"><img src="imgs/return-home.png"/></a></p>
            <ul class="language-show" v-show="languageShow">
                <li><a href="romania-index-en.html"><img src="imgs/language-en.png"/> English</a></li>
                <li><a href="romania-index-ro.html"><img src="imgs/language-fr.png"/> România</a></li>
                <li><a href="romania-index-zh.html"><img src="imgs/language-zh.png"/> 中文</a></li>
            </ul>
        </div>
        <div class="image-bottom">
            <a class="btn"  href="http://yingkebao.top/web/formview/5b87847b75a03c126de93706">获免费样品</a>
            <a class="btn">在线订购即将开业</a>
        </div>
    </div>
    <div class="producrt">
        <h2 class="pro-text">产品展示</h2>
        <p class="pro-text"></p>
        <mu-carousel hide-controls>
            <mu-carousel-item v-for="item in carouselProducrt">
                <div class="detail">
                    <img :src="item.imageUrl">
                    <h4>{{ item.contentTitle }}</h4>
                    <p>{{ item.content }}</p>
                </div>
            </mu-carousel-item>
        </mu-carousel>
        <a class="producrt-button inline-block-h80" href="http://yingkebao.top/web/formview/5b87847b75a03c126de93706">立即获取免费样品</a>
    </div>

    <div class="rmnybottomsev">
        <div class="rmnybsevcon">
            <h2 class="rmny_title">鞋子在线购买</h2>
            <h3>从我们的网上鞋店购买你需要的鞋子</h3>
            <img src="imgs/rmnyb23.png" alt="">
            <p class="pur_p"><span class="dot"></span>超过 <span class="bigblue">500</span> 家鞋企被选中 </p>
            <p class="pur_p"><span class="dot"></span><span class="bigyellow">500-800</span> 双高档些</p>
            <p class="pur_p margin_bottom_20"><span class="dot"></span><span class="bigblue">24</span> 小时客户服务</p>
            <a class="producrt-button inline-block-h80" href="http://yingkebao.top/web/formview/5b87847b75a03c126de93706">立即获取免费样品</a>
        </div>
    </div>
    <div class="rmnybottomsix">
        <div class="rmnybsixcon">
            <h2>关于新联盟</h2>
            <h3>鞋业产业链电子商务平台</h3>
            <p>温州新联实业有限公司成立于2015年，位于以“中国鞋都”闻名的温州。在温州这个鞋业发展历史悠久的城市，一批优秀的制鞋企业诞生了。新联合工业通过其独特的“B2B2C”新商业模式，已成为全球首个鞋业产业链整合服务平台。</p>
            <div class="rmnybsiximgs">
                <img src="imgs/rmnyb19.png" alt="">
                <img src="imgs/rmnyb20.png" alt="">
                <img src="imgs/rmnyb21.png" alt="">
            </div>
            <a class="inline-block-h80" href="http://yingkebao.top/web/formview/5b87847b75a03c126de93706">立即申请</a>
        </div>
    </div>
    <div class="rmnybottomfiv">
        <div class="rmnybfivcon">
            <h2>新联盟让您的项目<br><span class="red-title">更快</span> 开始</h2>
            <img src="imgs/rmnyb14.png" alt="">
            <div class="rmnybfivad clearfloat">
                <div class="advantage">
                    <img src="imgs/rmnyb15.png" alt="">
                    <h4>咨询</h4>
                    <p>一旦我们了解了您的目标，我们将与您一起制定逐步的生产流程，确保您获得最优惠的价格</p>
                    <div>
                        <span></span>
                        <p>24小时热线服务</p>
                    </div>
                    <div>
                        <span></span>
                        <p>关于定制服务的专业建议，以确保您获得最好的鞋子</p>
                    </div>
                </div>
                <div class="advantage">
                    <img src="imgs/rmnyb16.png" alt="">
                    <h4>质量控制</h4>
                    <p>鞋子的质量是新联盟的灵魂，我们拥有非常强大的设计和制造团队，并且每个阶段都有严格有效的质量控制政策。</p>
                    <div>
                        <span></span>
                        <p>经验丰富的质量检验员将确保您的鞋子质量</p>
                    </div>
                    <div>
                        <span></span>
                        <p>严格的质量控制政策</p>
                    </div>
                    <div>
                        <span></span>
                        <p>产品满足主要市场各种化学和物理测试的需求</p>
                    </div>
                </div>
                <div class="advantage">
                    <img src="imgs/rmnyb17.png" alt="">
                    <h4>制造业</h4>
                    <p>通过生产过程，负责切割，拼接和持续检查鞋子质量的管理人员不断。除非每一对都是完美的，否则我们不满意</p>
                    <div>
                        <span></span>
                        <p>根据您的要求进行化学测试</p>
                    </div>
                    <div>
                        <span></span>
                        <p>提供更低的价格，以确保您的业务的最大利润</p>
                    </div>
                </div>
                <div class="advantage">
                    <img src="imgs/rmnyb18.png" alt="">
                    <h4>设计</h4>
                    <p>我们拥有经验丰富的设计师，每年可以设计2000多种新鞋款。我们的设计师认为自己是时尚鞋类</p>
                    <div>
                        <span></span>
                        <p>专业的定制服务，确保您获得真棒鞋</p>
                    </div>
                    <div>
                        <span></span>
                        <p>经验丰富的设计师将为您提供更实用和卓越的建议</p>
                    </div>
                </div>
            </div>
            <a class="inline-block-h80" href="https://www.shoestp.com/home/usr_UsrPurchase_sign">现在注册</a>
        </div>
    </div>
    <div class="rmnybottomfth">
        <div class="rmnybfthcon">
            <img src="imgs/rmnyb7.png" alt="">
            <h2>罗马尼亚陈列室</h2>
            <div>
                <span class="graycircle"></span><p>在当地体验数百种款式的鞋子</p>
            </div>
            <div>
                <span class="graycircle"></span><p>厂家直销可靠平台</p>
            </div>
            <div>
                <span class="graycircle"></span><p>关于定制的专业建议</p>
            </div>
            <a class="inline-block-h80" href="http://yingkebao.top/web/formview/5b87847b75a03c126de93706">保留你的座位</a>
        </div>
    </div>
    <div class="rmnymap">
        <iframe src="map.html" frameborder="0" width="100%" height="550px"></iframe>
    </div>
    <div class="rmnybottomthred">
        <div class="rmnybthcon">
            <h2>供应商工厂展示</h2>
            <div class="rmnybthimgs">
                <img src="imgs/rmnyb3.png" alt="">
                <img src="imgs/rmnyb4.png" alt="">
                <img src="imgs/rmnyb5.png" alt="">
                <img src="imgs/rmnyb6.png" alt="">
            </div>
            <a class="inline-block-h80" href="http://yingkebao.top/web/formview/5b87847b75a03c126de93706">立即获取免费样品</a>
        </div>
    </div>
    <div class="rmnybottomsecond">
        <div class="rmnybscon">
            <h2>地址/联系方式</h2>
            <h2>对于COMERCE FAIR</h2>
            <div class="bscontactus">
                <p><strong>Persoana de contact</strong>: Romanesc</p>
                <p><strong>网站</strong>：https://www.shoestp.com/m/romania/</p>
                <p><strong>Telefon</strong>： 0762  900  529</p>
                <p><strong>Whatsapp</strong>：+40 762 900 529</p>
            </div>
            <div class="bscontactus">
                <p><strong>电子邮件</strong>：544414672@qq.com Adresă expoziție:</p>
                <p>(în limba română service)</p>
                <p>marketing@shoestp.com (English service)</p>
            </div>
            <div class="bscontactus">
                <p><strong>展览地址</strong>:</p>
                <p>Magazinul Universal Dragonul Roșu Strada</p>
                <p>Drumul Garii 12,București 077190</p>
            </div>
        </div>
    </div>
    <div class="rmnybottomfirst">
        <img src="imgs/rmnyb2.png" alt="">
        <div class="rmnybfcon">
            <h2>您的业务需求<br>是独一无二的?</h2>
            <h3>让我们帮助您满足这些需求！<br>请与我们联系，立即获取免费样品。</h3>
            <a class="inline-block-h80" href="http://yingkebao.top/web/formview/5b87847b75a03c126de93706">预定你的座位</a>
        </div>
        <div class="rmnybfchoose">
            <div v-for="item,index in checkinput">
                <label :for="item.title" @click="changeclick(index)"><img src="imgs/yes.png" :alt="item.title" v-show="item.checked"></label>
                <input type="checkbox" :name="item.title" v-model="item.checked">
                <p>{{item.content}}</p>
            </div>

        </div>
    </div>
</div>

<script>
    new Vue({
        el:'#romania',
        data:{
            languageShow:false,
            languageObj: null,
            carouselProducrt:[{
                title:'MAN',
                imageUrl:'imgs/menShoes.png',
                contentTitle:'男士皮鞋',
                content:'成熟，稳重，低调，奢华'
            },{
                title:'WUMAN',
                imageUrl:'imgs/wumenShoes.png',
                contentTitle:'女式高跟鞋',
                content:'奢华成熟的魅力'
            },{
                title:'KIDS',
                imageUrl:'imgs/kidsShoes.png',
                contentTitle:'童鞋',
                content:'耐用舒适'
            }],
            checkinput:[
                {
                    title:'inputcheck1',
                    checked:true,
                    content:'More Choice of Shoes Styles'
                },
                {
                    title:'inputcheck2',
                    checked:true,
                    content:'Local Touring Experience of Shoes Fashion Show'
                },
                {
                    title:'inputcheck3',
                    checked:true,
                    content:'Factory Direct with Reliable Native Service'
                }
            ]

        },
        methods:{
            handleLanguage:function () {
                this.languageObj = event.target;
                this.languageShow = !this.languageShow;
            },
            changeclick:function (index) {
                this.checkinput[index].checked = !this.checkinput[index].checked;
            },
            contrast: function () {
                if (this.languageObj != event.target){
                    this.languageShow = false;
                }
            }

        }
    })
</script>
</body>
</html>
