<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="We will have a showroom in Romanian offline shoes purchasing. During this show, you can experience hundreds of styles of shoes locally and get your choosing shoes with factory direct price. Also, you can receive professional advice from customization. In this purchasing, nearly 500 different styles of Men’s shoes, women’s shoes and kid’s shoes will be displayed. If you reserve your seat online, you will get a secret gift when you come. Several free samples of shoes will also be supplied in this show.">
    <meta name="Keywords"
          content="shoes purchasing, Men’s leather shoes, boy’s shoes, Men’s casual shoes, Men’s Sneakers, Children sandals, Men’s shoes, Women’s shoes, Women’s high heels, Women’s sandals, shoe companies, shoe suppliers, sneaker manufacturers, shoe factories, shoe manufacturing companies, sneaker manufacturer, china footwear manufacturer, sport shoes manufacturer, footwear factory.">
    <title>Romanian Offline Shoes Purchasing</title>
    <script src="js/vue.js"></script>
    <script src="js/jquery-1.7.2.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
    <script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
    <link rel="stylesheet" href="css/romania-index.css">
    <script src="js/axios.js"></script>
    <script src="js/qs.js"></script>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-783435725"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'AW-783435725');
    gtag('config', 'UA-127715615-6');
</script>
<style>
</style>
<body>
<div id="romania" @click="contrast">
    <div class="romania-poster">
        <a class="logo" href="https://www.shoestp.com/home/usr_UsrPurchase"><img src="imgs/logo-01_03.png" alt=""></a>
        <p class="white-text title-text">ROMANIAN OFFLINE <br>SHOES PURCHASING</p>
        <p class="yellow-text slogan">New Trends</p>
        <p class="yellow-text slogan">New Trade</p>
        <p class="yellow-text slogan">New Era</p>
        <p class="yellow-text time">2018.12.4-2018.12.19</p>
        <p class="yellow-text content-01">Exhibition Hall Opens All Year Round</p>
        <p class="white-text content-02">Magozinul Universal Dragonul Rosu Strada Drumul Garii 12,Bucuresti 077190(The
            first floor at the right side.nr 3-4)</p>
        <div class="language">
            <p><span class="lan" @click="handleLanguage"><span style="font-size: 40px;border: none;padding: 0;">=</span> English</span><a
                    href="https://www.shoestp.com/home/usr_UsrPurchase"><img src="imgs/return-home.png"/></a></p>
            <ul class="language-show" v-show="languageShow">
                <li><a href="romania-index-en.html"><img src="imgs/language-en.png"/> English</a></li>
                <li><a href="romania-index-ro.html"><img src="imgs/language-fr.png"/> România</a></li>
                <li><a href="romania-index-zh.html"><img src="imgs/language-zh.png"/> 中文</a></li>
            </ul>
        </div>
        <div class="image-bottom">
            <a class="btn following" href="javascript:void(0);" @click="getGift">Get Secret
                Gift</a>
            <!--<a class="btn following" href="/home/Activity_Romania">ROMANIAN OFFLINE SHOES PURCHASING</a>-->
            <!--<a class="btn btn-blur" href="https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=373">Onlione Ordering Opening Soon</a>-->
        </div>
    </div>
    <div class="producrt">
        <h2 class="pro-text">PRODUCT</h2>
        <p class="pro-text">DISPLAY</p>
        <mu-carousel hide-controls>
            <mu-carousel-item v-for="item in carouselProducrt">
                <div class="detail">
                    <img :src="item.imageUrl">
                    <h4>{{ item.contentTitle }}</h4>
                    <p>{{ item.content }}</p>
                </div>
            </mu-carousel-item>
        </mu-carousel>
        <a class="producrt-button inline-block-h80 following"
           hrefs="javascript:void(0);" @click="getGift">Get
            Free Sample Now</a>
    </div>

    <div class="rmnybottomsev">
        <div class="rmnybsevcon">
            <h2 class="rmny_title">Shoes Purchasing Online</h2>
            <h3>Get your choosing shoes from our online shoes shop</h3>
            <img src="imgs/rmnyb23.png" alt="">
            <p class="pur_p"><span class="dot"></span>More than <span class="bigblue">500</span> shoe companies were
                selected </p>
            <p class="pur_p"><span class="dot"></span><span class="bigyellow">500-800</span> pairs of premium shoes.</p>
            <p class="pur_p margin_bottom_20"><span class="dot"></span><span class="bigblue">24</span> hours customer
                service</p>
            <!--<a class="producrt-button inline-block-h80 following"-->
            <!--href="https://www.shoestp.com/home/usr_UsrPurchase">To the mall</a>-->
        </div>
    </div>
    <div class="rmnybottomsix">
        <div class="rmnybsixcon">
            <h2>About New Union</h2>
            <h3>Shoe industry chain e-commerce platform</h3>
            <p>Established in 2015, Wenzhou New Union Industrial Co., Ltd. is located in Wenzhou, which is famous for
                its “China Shoes Capital”. In Wenzhou, a city with a long history of footwear development, a number of
                outstanding shoe-making enterprises have been born. New Union Industrial has become the world's first
                shoe industry chain integration service platform through its unique “B2B2C” new business model.</p>
            <div class="rmnybsiximgs">
                <img src="imgs/rmnyb19.png" alt="">
                <img src="imgs/rmnyb20.png" alt="">
                <img src="imgs/rmnyb21.png" alt="">
            </div>
            <a class="inline-block-h80 following" href="javascript:void(0);" @click="getGift">Request
                Now</a>
        </div>
    </div>
    <div class="rmnybottomfiv">
        <div class="rmnybfivcon">
            <h2>Get Your Project Started<br><span class="red-title">Faster</span> With New Union</h2>
            <img src="imgs/rmnyb14.png" alt="">
            <div class="rmnybfivad clearfloat">
                <div class="advantage">
                    <img src="imgs/rmnyb15.png" alt="">
                    <h4>CONSULTATION</h4>
                    <p>Once we know your goals, we will set up a step-by-step production process together with you that
                        ensures you get the best deal</p>
                    <div>
                        <span></span>
                        <p>24-hour hotline service;</p>
                    </div>
                    <div>
                        <span></span>
                        <p>Professional advice about customization service to ensure you get the best shoes</p>
                    </div>
                </div>
                <div class="advantage">
                    <img src="imgs/rmnyb16.png" alt="">
                    <h4>QUALITY CONTROL</h4>
                    <p>Shoes' quality is the soul for New Union, we have very strong design and manufacturing team, as
                        well as having strict and effective quality control policy on each stage.</p>
                    <div>
                        <span></span>
                        <p>Experienced quality inspector will ensure your shoes' quality;</p>
                    </div>
                    <div>
                        <span></span>
                        <p>Strict quality control policy;</p>
                    </div>
                    <div>
                        <span></span>
                        <p>Products meet the demands of various chemical and physical testing in main markets.</p>
                    </div>
                </div>
                <div class="advantage">
                    <img src="imgs/rmnyb17.png" alt="">
                    <h4>MANUFACTURING</h4>
                    <p>Through out the production process, managers in charge of cutting, stitching and lasting check
                        the quality of shoes constantly. We are not satisfied unless every pair is perfect</p>
                    <div>
                        <span></span>
                        <p>Conduct chemical test according to your requirements;</p>
                    </div>
                    <div>
                        <span></span>
                        <p>Offer lower price to ensure the maximum profits for your bussiness.</p>
                    </div>
                </div>
                <div class="advantage">
                    <img src="imgs/rmnyb18.png" alt="">
                    <h4>DESIGN</h4>
                    <p>We have experienced designers who can design more than 2,000 new shoe models every year. Our
                        designers consider themselves footwear fashion artists</p>
                    <div>
                        <span></span>
                        <p>Professional customization service to ensure you get awesome shoes;</p>
                    </div>
                    <div>
                        <span></span>
                        <p>experienced designers will give you more practical and distinguished suggestions;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rmnybottomfth">
        <div class="rmnybfthcon">
            <img src="imgs/rmnyb7.png" alt="">
            <h2>Romanian Showroom</h2>
            <div>
                <span class="graycircle"></span>
                <p>Experiencing hundreds of styles of shoes locally</p>
            </div>
            <div>
                <span class="graycircle"></span>
                <p>Factory direct with reliable platform</p>
            </div>
            <div>
                <span class="graycircle"></span>
                <p>Professional advice about customization</p>
            </div>
            <a class="inline-block-h80" href="javascript:void(0);" @click="getGift">Reserve
                Your
                Seat</a>
        </div>
    </div>
    <div class="rmnymap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2846.9033669333626!2d26.175497615524637!3d44.476153479101654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1f9ac606033e3%3A0x7d391e85ce7a445b!2z5Lit5Zu957qi6b6Z5biC5Zy6!5e0!3m2!1szh-CN!2s!4v1541991096910"
                width="980" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="rmnybottomthred">
        <div class="rmnybthcon">
            <h2>Suppliers' Factory Show</h2>
            <div class="rmnybthimgs">
                <img src="imgs/rmnyb3.png" alt="">
                <img src="imgs/rmnyb4.png" alt="">
                <img src="imgs/rmnyb5.png" alt="">
                <img src="imgs/rmnyb6.png" alt="">
            </div>
            <a class="inline-block-h80 following" href="javascript:void(0);" @click="getGift">Get
                Free
                Sample Now</a>
        </div>
    </div>
    <div class="rmnybottomsecond">
        <div class="rmnybscon">
            <h2>ADDRESS / CONTACT</h2>
            <h2>FOR THE COMERCE FAIR</h2>
            <div class="bscontactus">
                <p><strong>Persoana de contact</strong>: Romanesc</p>
                <p><strong>Website</strong>：https://www.shoestp.com/m/romania/</p>
                <p><strong>Comenzi Telefonice Limba Romană:</strong> 0762 898 898</p>
                <p><strong>English Service:</strong> 0762 900 529</p>
                <p><strong>订购服务电话:</strong> 0762 900 529</p>
                <p><strong>Whatsapp</strong>：+40 762 900 529</p>
            </div>
            <div class="bscontactus">
                <p><strong>E-mail</strong>：shoestp.romania@gmail.com</p>
                <p>(în limba română service)</p>
                <p>marketing@shoestp.com (English service)</p>
            </div>
            <div class="bscontactus">
                <p><strong>Exhibition address</strong>:</p>
                <p>Magazinul Universal Dragonul Roșu Strada</p>
                <p>Drumul Garii 12,București 077190</p>
                <p>(The first floor at the right side.nr 3-4)</p>
            </div>
        </div>
    </div>
    <div class="rmnybottomfirst">
        <img src="imgs/rmnyb2.png" alt="">
        <div class="rmnybfcon">
            <h2>Your Business<br>Needs Are Unique?</h2>
            <h3>Let us help you meet those needs!<br>Talk to us and get your free samples now.</h3>
            <a class="inline-block-h80 following" hrefs="http://yingkebao.top/web/formview/5b87847b75a03c126de93706"
               @click="getGift">Reserve
                Your
                Seat</a>
        </div>
        <div class="rmnybfchoose">
            <div v-for="item,index in checkinput">
                <label :for="item.title" @click="changeclick(index)"><img src="imgs/yes.png" :alt="item.title"
                                                                          v-show="item.checked"></label>
                <input type="checkbox" :name="item.title" v-model="item.checked">
                <p>{{item.content}}</p>
            </div>

        </div>
    </div>

    <div class="hoodle" v-show="hoodleShow">
        <div class="hoodle_modle" @click="close"></div>
        <div class="hoodle_form">
            <span class="close-btn" @click="close">+</span>
            <div class="hf-border">
                <h2 class="hf-title">
                    2018 ROMANIAN <br>OFFLINE SHOES PURCHASING
                </h2>
                <mu-container>
                    <mu-form ref="form" :model="hoodleForm" class="mu-demo-form">
                        <mu-form-item label="Contact:" help-text="" prop="name" :rules="nameRules">
                            <mu-text-field v-model="hoodleForm.name" prop="name"></mu-text-field>
                        </mu-form-item>
                        <mu-form-item label="Telephone:" prop="tel" :rules="telRules">
                            <mu-text-field v-model="hoodleForm.tel" prop="tel"></mu-text-field>
                        </mu-form-item>
                        <mu-form-item label="Email:" prop="email" :rules="emailRule">
                            <mu-text-field v-model="hoodleForm.email" prop="email"></mu-text-field>
                        </mu-form-item>
                        <mu-form-item prop="country" label="Country:">
                            <mu-select v-model="hoodleForm.country">
                                <mu-option v-for="item,index in countrys" :key="item.id" :label="item.name"
                                           :value="item.id"></mu-option>
                            </mu-select>
                        </mu-form-item>
                        <mu-form-item prop="inquiry" label="Inquiry:">
                            <mu-text-field class="text-field" v-model="hoodleForm.inquiry" multi-line :rows="3"
                                           full-width style="height: 200px"></mu-text-field>
                        </mu-form-item>
                        <mu-form-item>
                            <mu-button color="primary" @click="onSubmit">Submit</mu-button>
                            <!--<mu-button @click="clear">重置</mu-button>-->
                        </mu-form-item>
                    </mu-form>
                </mu-container>
                <div class="hf-input">
                    <p class="hf-text">Tell us what you want, we'll reply you as soon as possible!</p>
                </div>
            </div>

        </div>
    </div>

    <div class="successfully" v-show="successfullyShow">
        <div class="hoodle_modle" @click="hintShow"></div>
        <div class="s-success">
            <span class="red-title close-icon" @click="hintShow">+</span>
            <div class="himt">
                <img :src="hintImage" alt="">
                <p class="red-title himt-text">{{ hintText }}</p>
            </div>
            <a href="javascript: void(0);" class="btn not-btn" @click="hintShow">Determine</a>
        </div>
    </div>
</div>

<script>

    new Vue({
        el: '#romania',
        data: {
            // rules
            nameRules: [
                {validate: (val) => !!val, message: 'The user name must be entered'},
                {validate: (val) => val.length >= 3, message: 'The user name length is greater than 3'}
            ],
            telRules: [
                {validate: (val) => !!val, message: 'Mobile phone number must be entered'},
                {validate: (val) => /^[0-9]{6,}$/.test(val), message: 'Phone number must be 6 or more digits'}
            ],
            emailRule: [
                {validate: (val) => !!val, message: 'You have to fill in the mailbox'},
                {
                    validate: (val) => /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/.test(val),
                    message: 'Please enter the correct email address'
                }
            ],
            hintText: '',
            hintImage: '',
            hoodleShow: false,
            successfullyShow: false,
            languageShow: false,
            languageObj: null,
            carouselProducrt: [{
                title: 'MAN',
                imageUrl: 'imgs/menShoes.png',
                contentTitle: 'Men\'s Leather Shoes',
                content: 'Simple But Fashionable',
                url: 'https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=373'
            }, {
                title: 'WUMAN',
                imageUrl: 'imgs/wumenShoes.png',
                contentTitle: 'Women\'s High Heels',
                content: 'Stylish, Lightweght',
                url: 'https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=380'
            }, {
                title: 'KIDS',
                imageUrl: 'imgs/kidsShoes.png',
                contentTitle: 'Kid\'s Shoes',
                content: 'Abrasion-resistant, Slip-resustant',
                url: 'https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=387'
            }],
            checkinput: [
                {
                    title: 'inputcheck1',
                    checked: true,
                    content: 'More Choice of Shoes Styles'
                },
                {
                    title: 'inputcheck2',
                    checked: true,
                    content: 'Local Touring Experience of Shoes Fashion Show'
                },
                {
                    title: 'inputcheck3',
                    checked: true,
                    content: 'Factory Direct with Reliable Native Service'
                }
            ],
            countrys: [],
            hoodleForm: {
                name: '',
                tel: '',
                email: '',
                country: '',
                inquiry: ''
            }
        },
        mounted() {
            this.acquireCountry()
        },
        methods: {
            getGift: function () {
                this.hoodleShow = true;
                this.gtag_report_conversionGoogle()
            },
            gtag_report_conversionGoogle: function (url) {
                var callback = function () {
                    if (typeof(url) != 'undefined') {
                        window.location = url;
                    }
                };
                gtag('event', 'conversion', {
                    'send_to': 'AW-783435725/gYQ7CJq0upABEM2PyfUC',
                    'event_callback': callback
                });
                return false;
            },
            hintShow: function () {
                this.successfullyShow = false;
            },
            close: function () {
                this.hoodleShow = false;
                this.$refs.form.clear();
                this.hoodleForm = {
                    name: '',
                    tel: '',
                    email: '',
                    country: '',
                    inquiry: ''
                };
            },
            handleLanguage: function () {
                this.languageObj = event.target;
                this.languageShow = !this.languageShow;
            },
            changeclick: function (index) {
                this.checkinput[index].checked = !this.checkinput[index].checked;
            },
            contrast: function () {
                if (this.languageObj != event.target) {
                    this.languageShow = false;
                }
            },
            gtag_report_conversion: function (url) {
                var callback = function () {
                    if (typeof(url) != 'undefined') {
                        window.location = url;
                    }
                };
                gtag('event', 'conversion', {
                    'send_to': 'AW-783435725/2sU4CMb_io8BEM2PyfUC',
                    'event_callback': callback
                });
                return false;
            },
            acquireCountry: function () {
                //获取国家列表
                var self = this
                axios.get('/home/plt_PltCountry_list?lang=en&filter=romania').then(function (res) {
                    console.log(res.data);
                    self.countrys = res.data.result
                }).catch(function (err) {
                    console.log(err)
                })
            },
            onSubmit: function () {
                console.log(this.hoodleForm)
                var self = this;
                self.$refs.form.validate().then((result) => {
                    console.log('form valid: ', result)
                    if (result) {
                        console.log('提交')
                        axios.post('/home/ActivitySignIn_ActivitySignIn_signIn',
                            Qs.stringify({
                                name: self.hoodleForm.name,
                                tel: self.hoodleForm.tel,
                                email: self.hoodleForm.email,
                                country: self.hoodleForm.country,
                                inquiry: self.hoodleForm.inquiry
                            })
                        ).then(function (res) {
                            if (res.data.ret == 1) {
                                console.log('提交成功');
                                self.hoodleShow = false;
                                self.successfullyShow = true;
                                self.hintImage = 'imgs/true_03.png';
                                self.hintText = 'Submit Successfully！';
                                self.close();
                                self.gtag_report_conversion();
                            } else {
                                console.log('提交失败');
                                self.successfullyShow = true;
                                self.hintImage = '';
                                self.hintText = 'Submit Failure';
                            }
                        }).catch(function (err) {
                            console.log(err);
                            self.successfullyShow = true;
                            self.hintImage = '';
                            self.hintText = 'Submit An Error';
                        })

                    }
                });
            }
        }
    })
</script>
</body>
</html>
