.w_1240 .wide {
  width: 1240px;
  min-width: 1240px;
  margin: 0 auto; }

.w_1240 .wide-wrap {
  width: 100%;
  min-width: 1240px;
  margin: 0 auto; }

.grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.bg-gray {
  background: #f5f5f5; }
.popup-login-box-global .el-dialog__header, .popup-login-box-global .el-dialog__body {
  padding: 0; }

.page-login, .popup-login-box-global {
  /* Firefox < 19 */
  /* Firefox > 19 */
  /* Internet Explorer 10 */ }
.page-login input::-webkit-input-placeholder, .popup-login-box-global input::-webkit-input-placeholder {
  color: #7f7f7f; }
.page-login input:focus::-webkit-input-placeholder, .popup-login-box-global input:focus::-webkit-input-placeholder {
  color: #9f9f9f; }
.page-login input:-moz-placeholder, .popup-login-box-global input:-moz-placeholder {
  color: #7f7f7f; }
.page-login input:focus:-moz-placeholder, .popup-login-box-global input:focus:-moz-placeholder {
  color: #9f9f9f; }
.page-login input::-moz-placeholder, .popup-login-box-global input::-moz-placeholder {
  color: #7f7f7f; }
.page-login input:focus::-moz-placeholder, .popup-login-box-global input:focus::-moz-placeholder {
  color: #9f9f9f; }
.page-login input:-ms-input-placeholder, .popup-login-box-global input:-ms-input-placeholder {
  color: #7f7f7f; }
.page-login input:focus:-ms-input-placeholder, .popup-login-box-global input:focus:-ms-input-placeholder {
  color: #9f9f9f; }
.page-login .flex-column-layout, .popup-login-box-global .flex-column-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.page-login .main, .popup-login-box-global .main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
.page-login .login-page-content, .popup-login-box-global .login-page-content {
  background: url("/home/v3/static/images/login/logoin_bg.png") no-repeat center/cover; }
.page-login .login-page-content-inner, .popup-login-box-global .login-page-content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 700px; }
.page-login .login-page-content-inner .welcome-txt-pic, .popup-login-box-global .login-page-content-inner .welcome-txt-pic {
  padding-bottom: 60px; }
.page-login .login-form-panel, .popup-login-box-global .login-form-panel {
  width: 400px;
  padding: 22px 30px 50px;
  font-size: 12px;
  color: #7f7f7f;
  background: #fff; }
.page-login .login-form-panel .join-free, .popup-login-box-global .login-form-panel .join-free {
  text-align: right;
  margin-bottom: 14px; }
.page-login .login-form-panel .join-free a, .popup-login-box-global .login-form-panel .join-free a {
  text-decoration: none;
  color: #7989b0; }
.page-login .login-form-panel .join-free a:hover, .popup-login-box-global .login-form-panel .join-free a:hover {
  color: #36d; }
.page-login .login-form-panel .login-form, .popup-login-box-global .login-form-panel .login-form {
  position: relative; }
.page-login .login-form-panel .login-form .incase-autocomplete-input, .popup-login-box-global .login-form-panel .login-form .incase-autocomplete-input {
  position: absolute;
  z-index: -1;
  left: 9999px; }
.page-login .login-form-panel .login-form .el-form-item, .popup-login-box-global .login-form-panel .login-form .el-form-item {
  margin-bottom: 15px; }
.page-login .login-form-panel .login-form .el-form-item .el-input__inner, .popup-login-box-global .login-form-panel .login-form .el-form-item .el-input__inner {
  border-radius: 0; }
.page-login .login-form-panel .login-form .el-form-item .el-input__inner:focus, .popup-login-box-global .login-form-panel .login-form .el-form-item .el-input__inner:focus {
  border-color: #c0c4cc; }
.page-login .login-form-panel .login-form .el-form-item.is-required .el-form-item__label:before, .popup-login-box-global .login-form-panel .login-form .el-form-item.is-required .el-form-item__label:before {
  content: "";
  margin-right: 0; }
.page-login .login-form-panel .login-form .el-form-item.is-success .el-input__inner, .popup-login-box-global .login-form-panel .login-form .el-form-item.is-success .el-input__inner {
  border-color: #dcdfe6; }
.page-login .login-form-panel .login-form .el-form-item__label, .popup-login-box-global .login-form-panel .login-form .el-form-item__label {
  white-space: nowrap;
  line-height: 20px;
  font-size: 18px;
  color: #232323; }
.page-login .login-form-panel .el-button--primary, .popup-login-box-global .login-form-panel .el-button--primary {
  border-radius: 3px;
  border-color: #10389c;
  background-color: #10389c; }
.page-login .login-form-panel .el-button--primary:hover, .popup-login-box-global .login-form-panel .el-button--primary:hover {
  border-color: #35c;
  background-color: #35c; }
.page-login .login-form-panel .forget-psd-wrap, .popup-login-box-global .login-form-panel .forget-psd-wrap {
  margin-top: -6px;
  margin-bottom: 19px;
  text-align: right; }
.page-login .login-form-panel .forget-psd-wrap .forget-psd, .popup-login-box-global .login-form-panel .forget-psd-wrap .forget-psd {
  text-decoration: none;
  color: #7989b0; }
.page-login .login-form-panel .forget-psd-wrap .forget-psd:hover, .popup-login-box-global .login-form-panel .forget-psd-wrap .forget-psd:hover {
  color: #36d; }
.page-login .login-form-panel .btn-login, .popup-login-box-global .login-form-panel .btn-login {
  width: 100%;
  font-size: 18px; }
.page-login .login-form-panel .login-form-bottom .title, .popup-login-box-global .login-form-panel .login-form-bottom .title {
  line-height: 20px;
  margin-top: 22px;
  margin-bottom: 4px; }
.page-login .login-form-panel .share-list, .popup-login-box-global .login-form-panel .share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.page-login .login-form-panel .share-item, .popup-login-box-global .login-form-panel .share-item {
  margin-right: 12px; }
.page-login .login-form-panel .share-item img, .popup-login-box-global .login-form-panel .share-item img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
  object-fit: cover; }
.page-login .login-form-panel .share-item.user-supplier, .popup-login-box-global .login-form-panel .share-item.user-supplier {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 0;
  text-align: right;
  text-decoration: underline; }
.page-login .login-form-panel .share-item.user-supplier a, .popup-login-box-global .login-form-panel .share-item.user-supplier a {
  color: #7f7f7f; }
.page-login .login-form-panel .share-item.user-supplier a:hover, .popup-login-box-global .login-form-panel .share-item.user-supplier a:hover {
  color: #36d; }

/*# sourceMappingURL=login.css.map */