@charset "UTF-8";
/* ---------------- 顶部导航栏 ---------------- */
#new-top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #ccc;
  background: #fff; }

#new-top-nav .el-menu--horizontal {
  background: #fff; }

.el-menu--horizontal {
  border-bottom-width: 0 !important; }

/* 减小默认高度 */
#new-top-nav .el-menu--horizontal > .el-menu-item,
#new-top-nav .el-menu--horizontal > .el-submenu .el-submenu__title {
  height: 32px;
  line-height: 30px;
  font-size: 14px;
  color: #000; }
#new-top-nav .el-menu--horizontal > .el-menu-item.link-item{
  color: #777;
}
/* 布局 - 文字左对齐 - 左侧不留白*/
#new-top-nav .el-menu--horizontal > .el-menu-item,
#new-top-nav .el-submenu__title {
  padding: 0 8px;
  margin-right: 32px; }
#new-top-nav .el-menu--horizontal>.el-menu-item.is-active{
  border-bottom-color: transparent;
}
#new-top-nav .el-menu--horizontal > .el-menu-item:first-child {
  margin-left: 0; }

#new-top-nav .el-menu--horizontal > .el-menu-item.mr0 {
  margin-right: 0; }

.el-menu--horizontal > .el-menu-item.fr,
.el-menu--horizontal > .el-submenu.fr {
  float: right; }

/* 下拉项取消箭头显示 */
#new-top-nav .no-arrow .el-submenu__icon-arrow {
  display: none; }

/* top-nav弹出的子类 样式 */
.el-menu--horizontal .el-menu--popup-bottom-start {
  position: relative;
  top: -2px;
  margin-top: 0;
  padding: 0;
  border-top: 2px solid #273bb6;
  border-bottom-width: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }

/* 下拉框item样式 */
.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-submenu__title {
  position: relative;
  border-bottom: 1px solid #ccc;
  background-color: #fff; }

.el-menu--horizontal .el-menu .el-menu-item {
  color: #000; }

/* hover时改变颜色 */
#new-top-nav .el-menu--horizontal > .el-menu-item:hover,
#new-top-nav .el-menu--horizontal > .el-submenu:hover .el-submenu__title {
  color: #273bb6; }

/* 下拉框hover时改变颜色 */
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
  outline: 0;
  color: #273bb6;
  background-color: #f0f0f0; }

.el-menu--horizontal .el-menu--popup {
  min-width: 130px;
  max-width: 220px; }

/* ---------------- 顶部导航栏 - end ---------------- */
/* ---------------- 顶部搜索栏 ---------------- */
/* 顶部搜索栏 */
#new-top-search {
  position: fixed;
  top: 33px;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 3px 0 rgba(102, 102, 102, 0.39);
  background: #f9f9f9; }

#new-top-search .new-top-search {
  display: flex;
  align-items: center;
  padding: 20px 0; }

/* logo */
#new-top-search .logo-box {
  margin-right: 100px; }

/* 搜索栏那一个大红框 */
#new-top-search .top-input-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 629px;
  height: 39px;
  border: 2px solid #273bb6;
  background: #fff; }

/* 搜索栏左侧下拉选项 */
#new-top-search .top-input-bar .cotegory-select-box .el-input__inner {
  width: 100px;
  height: 34px;
  padding-left: 12px;
  border-radius: 0;
  border-width: 0; }

#new-top-search .top-input-bar .cotegory-select-box .el-input__icon {
  line-height: 34px; }

/* #new-top-search .top-input-bar .cotegory-select-box .el-dropdown{
  padding-left: 14px;
  font-size: 16px;
	color: #000;
}*/
.top-search-bar-cotegory-select-dropdown {
  padding: 0;
  margin: 0;
  border: 2px solid #273bb6;
  border-top-width: 0;
  border-left-width: 0;
  border-radius: 0;
  box-shadow: 6px 2px 4px 0 rgba(0, 0, 0, 0.1); }

/* 下拉后显示的左侧border / left为js生成 - 迂回策略 */
.top-search-bar-cotegory-select-dropdown:before {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #273bb6; }

.top-search-bar-cotegory-select-dropdown[x-placement^=bottom] {
  margin-top: 1px; }

/* 取消消箭头显示 */
.top-search-bar-cotegory-select-dropdown[x-placement^=bottom] .popper__arrow {
  display: none; }

.top-search-bar-cotegory-select-dropdown .el-select-dropdown__item {
  padding: 0 12px; }

.top-search-bar-cotegory-select-dropdown .el-select-dropdown__item:hover {
  color: #273bb6;
  font-weight: bold; }

#new-top-search .top-input-bar .input-box {
  flex-grow: 1;
  padding: 0 6px 0 16px; }

#new-top-search .top-input-bar .input-box input {
  height: 32px;
  width: 100%; }

/* 搜索按钮 */
#new-top-search .top-input-bar .btn-search {
  width: 50px;
  height: 100%;
  line-height: 1.4;
  cursor: pointer;
  font-size: 26px;
  color: #fff;
  text-align: center;
  background: #273bb6; }

/* 询盘按钮 */
#new-top-search .btn-get-quotations {
  height: 33px;
  line-height: 30px;
  padding: 0 15px;
  margin: 0 20px;
  white-space: nowrap;
  font-family: ArialMT;
  font-size: 16px;
  color: #273bb6;
  border: solid 1px #273bb6; }

#new-top-search .language-select {
  position: relative;
  min-width: 80px;
  text-align: center;
  white-space: nowrap; }

#new-top-search .language-select .top-language-select-input {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 100px; }

/* ---------------- 顶部搜索栏 - end ---------------- */


/* ---------------- elementUI 弹窗样式自定义 ---------------- */
/*写的时候带参数customClass: "my-custom-element-alert-class",*/
/*改内容文字大小时,同时传参 fs-content-16 or fs-content-18*/
/*内容居中则才参数center: true*/
/*自定义弹框样式*/
.my-custom-element-alert-class{
  width: 360px;
  padding-bottom: 30px;
}
/*减小头部高度*/
.my-custom-element-alert-class .el-message-box__header{
  padding-top: 15px;
}
/*内容间距调整*/
.my-custom-element-alert-class .el-message-box__content{
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 20px 25px;
  margin-bottom: 6px;
  color: #888;
}
/*设置中写了center时,内容也居中显示*/
.my-custom-element-alert-class.el-message-box--center .el-message-box__content{
  justify-content: center;
}
/*需要确认\取消的弹窗,提示内容会大点*/
.my-custom-element-alert-class.fs-content-18 .el-message-box__content{
  font-size: 18px;
}
.my-custom-element-alert-class.fs-content-16 .el-message-box__content{
  font-size: 16px;
}
/*按钮组居中*/
.my-custom-element-alert-class .el-message-box__btns{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
/*普通按钮样式修改*/
.my-custom-element-alert-class .el-message-box__btns  .el-button--default {
  min-width: 100px;
  font-size: 14px;
}
.my-custom-element-alert-class .el-message-box__btns  .el-button--default:hover {
  color: #333;
  border-color: #aaa;
  background: #fff;
}
/*单个按钮显示时,显示的蓝色样式*/
.my-custom-element-alert-class .el-message-box__btns .el-button--primary{
  min-width: 140px;
  font-size: 14px;
  border-color: #10389c;
  background: #10389c;
}
.my-custom-element-alert-class .el-message-box__btns .el-button--primary:hover{
  color: #fff;
  border-color: #35c;
  background: #35c;
}
/*两个按钮显示时的样式*/
.my-custom-element-alert-class .el-message-box__btns  .el-button ~ .el-button--primary {
  min-width: 120px;
  font-size: 14px;
  margin-left: 0;
  margin-right: 15px;
}
/* ---------------- elementUI 弹窗样式自定义 - end ---------------- */