
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Verdana;
}

.color666 {
    color: #666666;
}

body,
html {
    min-width: 320px;
    max-width: 640px;
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #fff;
}
main{
    width: 100%;
    min-height: 240px;
    overflow: hidden;
    margin: 0 auto;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex.flex-just-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.flex-grow{
  -webkit-box-flex: 1;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.main {
    width: 96%;
    padding:3.9%;
    background: #fff;
    margin: 0 auto;
}
.main h2{
    font-size: 18px;
    font-weight: bold;
}
.main h1{
    font-size: 20px;
    font-weight: bold;
}
.main_left,.main_right{
    width: 100%;
}

.font-bold {
    font-weight: bold;
}

.inputHeight {
    height: 1.87rem;
}

.main_left header {
    width: 100%;
    display: flex;
    align-items: center;
}
/* .main_left header div{
    width: 100%;
} */

.main_left header>div:nth-child(2) {
    height: 100%;
    margin-left: 0.62rem;
}

.main_left header>div:nth-child(2)>h2,.main_left header>div:nth-child(2)>p {
    line-height: 120%;
}

.main_left>div:nth-of-type(1) h1 {
    margin: 1.25rem 0;
}

.box {
    height: 100%;
    margin-bottom: 1.25rem;
}

.chooseImg input {
    display: none;
}

.chooseImg .chooseBox{
    width: 90px;
    height: 100%;
    margin:0 0 5px 6px;
}
.chooseBox p{
    text-align: center;
    border: 1px solid red;
    border-radius: 23px;
    color: red;
    cursor: pointer;
    display: none;
}
.chooseImg .chooseBox img{
    width: 90px;
    height: 90px;
}
.form_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_code {
    width: 100%;
    height: 1.875rem;
    border: 1px solid #bababa;
}

.submit {
    width: 100%;
    height: 1.875rem;
    border: none;
    color: white;
    font-size: 1rem;
    background-color: #003d80;
}

.chooseImg {
    height: 100%;
     display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.chooseImg img {
    width: 5.5rem;
    height: 5.5rem;
    margin: 0 0 0 0.01rem;
}
input{
    border: none;
    border: 1px solid #bababa;
}
textarea::-webkit-input-placeholder {
    font-size: 1rem;
}

/* input::-webkit-input-placeholder {
    font-size: 1rem;
} */

textarea::-moz-placeholder {
    font-size: 1rem;
}

input::-moz-placeholder {
    font-size: 1rem;
}

textarea::-ms-input-placeholder {
    font-size: 1rem;
}

form {
    width: 100%;
    margin: 1rem 0;
}

.form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_main {
    border: 1px solid #bababa;
}
.footer {
    margin: 2.5rem 0;
}

.footer h2 {
    margin-bottom: 1rem;
}

.form_main textarea {
    border: none;
    resize: none;
    width: 100%;
    height: 15rem;
    outline: none;
}

.marginBottom {
    width: 100%;
    margin-bottom: 1rem;
}

.marginRight {
    margin-right: 1rem;
}

.main_right p {
    line-height: 1.56rem;
}

.main_rightB {
    margin-top: 3.75rem;
}

.main_rightB h2 {
    margin: 0.62rem 0;
}

.main_rightT h2 {
    margin: 0 0 0.62rem 0;
}

/* 閫夎喘鍟嗗搧css */
a{
    text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

main .goods-box>ul>li{
    padding: 0.1rem 0 0.2rem 0;
    font-size: 0.9rem;
    border-bottom: 1px solid #ddd;
}
main .goods-box>ul>li:last-child{
    border:none;
}
main .goods-box .goods-pic img{
    width: 100%;
    height: 100%;
}
main .goods-box .goods-pic{
    /* margin-top: 0.2rem; */
    width: 26.5625%;
    height: 5rem;
    text-align: center;
    background-size: 20.125786%;
    border-radius: 0.04rem;
}
main .goods-box .goods-info{
    width: 67.66666667%;
}
main .goods-box .goods-info .goods-info-name{
    /* height: 28px; */
    line-height: 1.125rem;
    overflow: hidden;
}
main .goods-box .goods-info .goods-info-name a{
    display: inline-block;
    width: 100%;
}
main .goods-box .goods-info .goods-info-detail{
    line-height: 1.125rem;
    margin: 0.1rem 0;
    font-size: 0.9rem;
    color: #bdbdbd;
}
main .goods-box .goods-info .goods-info-remove{
    font-size: 0.8rem;
    margin: 0.2rem 0 0.3rem;
    line-height: 1.125rem;
    color: #bdbdbd;
   text-align: right;
}
main .goods-box .goods-info .goods-info-remove span{
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}
/* 璇㈢洏涓� 鏂版坊閫夋嫨浜у搧杩涜璇㈢洏  */
.form_header .selected-product-name{
  width:66%;
  height: 1.87rem;
  line-height: 1.87rem;
  padding-left: 0.2rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  font-size: 0.9rem;
  /* color: #000; */
  border: 1px solid #bababa;
}
.form_header .btn-select-product{
  width:34%;
  height: 1.87rem;
  line-height: 1.87rem;
  padding-left: 0.5rem;
  text-align: center;
  white-space: nowrap;
  font-size: 0.9rem;
  color: #fff;
  box-shadow: 0px 5px 9px 0px rgba(4, 0, 0, 0.05);
  border-radius: 0.4rem;
  background-image: linear-gradient(60deg,#003d80 0%,#447ab9 100%);
}
/* 妯℃�佹 */
.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
}
/* 妯℃�佹 - 鍐呭鍖哄煙 */
.modal-wrap{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 90%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  font-size: 0.8125rem;
  border-radius: 0.1875rem;
  background: #fff;
}
.modal-wrap .modal-header{
  height: 2.1875rem;
  line-height: 2.1875rem;
  font-size: 1.8rem;
  color: #000;
  border-radius: 0.2rem 0.2rem 0 0;
  background: #f1f1f1;
}
.modal-wrap .modal-header .close{
  padding: 0 0.6rem;
}
.modal-wrap .modal-content{
  max-height: 15.3125rem;
}
.modal-wrap .modal-footer{
/*   height: 3.12rem; */
  line-height: 1.6rem;
  flex-wrap: wrap;
  justify-content: flex-end;
/*   min-height:3.12rem; */
/*   height:auto; */
  padding: 1rem 0.375rem;
}
.modal-wrap .modal-footer label{
  white-space: nowrap;
}
.modal-wrap .modal-footer input[type="checkbox"]{
  position: relative;
  top: 2px;
}
/* 鍏蜂綋鐨勯�夋嫨鍟嗗搧 妯℃�佹 - 鍐呭鍖哄煙 */
.choose-goods-wrap .modal-content .choose-goods-list{
  max-height: 15.3125rem;
  overflow: auto;
}
.choose-goods-wrap .goods-item{
  position: relative;
  height: 6.25rem;
  padding-bottom: 0.875rem;
  padding-left: 0.40625rem;
  padding-right: 0.40625rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.875rem;
  margin-top: 0.8rem;
  border-bottom: 1px dashed #ccc;
}
.choose-goods-wrap .goods-item:last-child{
  margin-bottom: 0;
}
/* 鍟嗗搧鍓� 琛ㄧず閫変腑鐨刬con */
.choose-goods-wrap .goods-item .icon-is-selected{
  position: absolute;
  left: 0;
  top: 2.73437rem;
  background: #000;
  width: 1rem;
  height: 1rem;
  margin-top: -0.5rem;
  transform: translate(-100%);
  background: url("../images/icon_checkbox.png") no-repeat 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.choose-goods-wrap .goods-item.selected .icon-is-selected{
  background-image: url("../images/icon_selected.png");
}
/* 鍟嗗搧鍥剧墖 */
.choose-goods-wrap .goods-item .goods-pic{
  display: table-cell;
  vertical-align: middle;
  width: 6.875rem;
  height: 5.46875rem;
  text-align: center;
  border: 1px solid #b5b5b5;
}
.choose-goods-wrap .goods-item .goods-pic img{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/* 鍟嗗搧鎻忚堪 */
.choose-goods-wrap .goods-item .goods-descript{
  margin-left: 7.5rem;
}
.choose-goods-wrap .goods-item .goods-descript .goods-name{
  height: 4.1rem;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 1rem;
  /* font-size: 0.71875rem; */
  color: #302f2f;
}
.choose-goods-wrap .goods-item .goods-descript .goods-spec{
  position: relative;
  line-height: 1rem;
  margin-top: 0.3rem;
  color: #616161;
  word-wrap:break-word;
  word-break:break-all;
}
.choose-goods-wrap .goods-item .goods-descript .goods-spec .close{
  position: absolute;
  right: -1.5rem;
  top: -0.3rem;
  padding: 0.3rem;
  font-size: 1.6rem;
}
.choose-goods-wrap .goods-item .goods-descript .goods-spec .goods-spec-name{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 鍏蜂綋鐨勯�夋嫨鍟嗗搧 妯℃�佹 - 搴曢儴 */
.choose-goods-wrap .modal-footer{
  padding: 1rem 0.375rem;
}
/* .choose-goods-wrap .modal-footer input[type="checkbox"]{
  position: relative;
  top: 0.125rem;
} */
.nowrap{
  white-space: nowrap;
}
.choose-goods-wrap .modal-footer .btn{
  height: 1.3125rem;
  line-height: 1.2125rem;
  margin-right: 0.375rem;
  padding: 0 0.1rem;
  color: #fff;
  border-radius: 0.1875rem;
  background-color: #bfbfbf;
}
