.ljx .logocon{
  width: 1200px;
  margin: 0 auto;
}
.ljx .el-carousel{
  width: 1200px;
  margin: 0 auto;
}
.ljx .el-carousel__arrow{
  display: none;
}
.ljx .el-carousel__button{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  /* background-color: blue; */
  background-color: #efefef;
  opacity: 1;
}
.ljx .is-active .el-carousel__button{
  background-color: #1539be;
}
.ljx .el-carousel__indicator{
  padding: 12px  15px;
}
.ljx .el-carousel__indicators{
  bottom: 5%;
}
.ljx .footer-1{
  width: 100%;
  min-width: 1200px;
  background-color: rgb(51,75,134);
  color: white;
}
.ljx .footer-1>div{
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.ljx .footer-1 h3{
  font-size: 36px;
  text-indent: 15px;
  padding: 50px 0 15px;
}
.ljx .footer-1 .right{
  flex-basis: 75%;
  margin-bottom: 60px;
}
.ljx .footer-1 .right p{
  font-size: 22px;
  text-indent: 15px;
  padding-bottom: 20px;
}
.ljx .footer-1 .right input{
  margin-left: 15px;
  text-indent: 15px;
  font-size: 20px;
  width: 41%;
  height: 58px;
}
.ljx .footer-1 .right span{
  display: inline-block;
  height: 60px;
  width: 14%;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  background-color: rgb(30,56,122);
  vertical-align: middle;
  cursor: pointer;
}
.ljx .footer-1 .left{
  flex-basis: 25%;
}
.ljx .footer-1 .left .logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.ljx .footer-1 .left .logos img{
  height: 60px;
  margin: 0 20px 10px 0;
}
.ljx .footer-2{
  width: 100%;
  min-width: 1200px;
  background-color: rgb(30,56,122);
  color: white;
}
.ljx .footer-2>div{
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.ljx .footer-2 .licon{
  flex: 1;
  padding: 0px 80px 0px;
  margin: 50px 0 65px;
  border-right: 1px solid rgb(85,105,128);
}
.ljx .footer-2 .licon:nth-child(1){
  padding: 0px 80px 0px 0;
}
.ljx .footer-2 .licon:nth-child(4){
  padding: 0px 0px 0px 80px;
  border-right: none;
}
.ljx .footer-2 .licon .lititle{
  font-size: 20px;
  padding: 10px 0 20px;
}
.ljx .footer-2 .licon .libody{
  font-size: 13px;
  padding: 5px 0;
}
.ljx .footer-3{
  width: 100%;
  min-width: 1200px;
  background-color: rgb(0,30,105);
  color: white;
}
.ljx .footer-3 h3{
  width: 1200px;
  margin: 0 auto;
  text-align: right;
  padding: 25px 10px;
  font-size: 14px;
  font-weight: normal;
}
.ljx .ljxcon-1{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 40px auto 25px;
}
.ljx .ljxcon-1 .ljxcon{
  overflow: hidden;
  position: relative;
}
.ljx .ljxcon-1 .ljxcon .ljxshow{
  position: relative;
}
.ljx .ljxcon-1 .ljxcon .ljxshow span{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  width: 93px;
  height: 41px;
  line-height: 39px;
  text-align: center;
  font-weight: bold;
  /* background: rgba(255,255,255,0.63); */
  font-size: 26px;
  border: 2px solid rgba(255,255,255,0.25);
}
.ljx .ljxcon-1 .ljxcon .ljxshow span:before{
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: block;

  width: 89px;
  height: 37px;
  background: rgba(255,255,255,0.63);
}
.ljx .ljxcon-1 .ljxcon .ljxshow img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.ljx .ljxcon-1 .ljxcon .ljxhidden{
  position: absolute;
  top: 100%;
  width: 380px;
  height: 200px;
  background-color: rgba(255,255,255,0.8);
  opacity: 0;
  transition: all 0.5s ease;
  border: 2px solid transparent;
  cursor: pointer;
}
.ljx .ljxcon-1 .ljxcon .ljxhidden h4{
  font-size: 38px;
  padding: 10px 0 15px 15px;
  color: rgb(0,46,126);
}
.ljx .ljxcon-1 .ljxcon .ljxhidden li{
  list-style: initial;
  margin-left: 32px;
  line-height: 25px;
  font-size: 20px;
}
.ljx .ljxcon-1 .ljxcon .ljxhidden span{
  position: absolute;
  padding: 10px 20px;
  background-color: rgb(0,46,162);
  font-size: 17px;
  color: white;
  bottom: 4px;
  right: 4px;
  cursor: pointer;
}
.ljx .ljxcon-1 .ljxcon:hover  .ljxhidden{
  top: 0;
  opacity: 1;
  border: 2px solid rgb(21,57,190);

}

.ljx .ljxcon-1 .ljxcon:hover .ljxshow span{
  border: 2px solid transparent;
  transition: all 0.2s 0.4s;
}
.ljx .ljxcon-1 .ljxcon:hover .ljxshow span:before{
  background: transparent;
  transition: all 0.2s 0.4s;
}
/*.ljx .ljxcon-1 .ljxcon:hover{*/
/*border: 2px solid rgb(21,57,190);*/
/*}*/
