html,body{
  background-color: #f9f9f9;
}
  #xc{
    width: 1200px;
    margin: 0 auto;
  }


  #xc .blueFontColor{
    font-size: 14px;
    margin: 14px 0;
    color: #10389c;
    text-align: right;
  }
  #xc .title{
    font-size: 40px;
    line-height: 78px;
    border-bottom: 1px solid #cccccc;
  }
  #xc .tip{
    line-height: 36px;
    font-size: 18px;
    margin: 12px 0 30px 0;
  }
  #xc .tip .tip-title{
    color: #929292;
    margin-right: 20px;
  }
  #xc .tip .tip-input{
    width: 203px;
    height: 32px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    padding-left: 13px;
    margin-right: 20px;
  }
  #xc .tip .tip-btn{
    width: 90px;
    height: 36px;
    background-color: #10389c;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }
  #xc .brand-zone-container .brand-zone-title{
    background: url(../images/bg1.jpg) no-repeat 100% 100%;
    width: 1200px;
    height: 128px;
    position: relative;
  }
  #xc .brand-zone-container .brand-zone-title .name{
    font-size: 37px;
    text-align: center;
    position: absolute;
    left: 20%;
    top: 15%;
  }
  #xc .brand-zone-container .brand-zone-title .name a{
    display:inline-block;
    width: 144px;
    height: 35px;
    line-height: 35px;
    background-color: #2d50a8;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
  }
  #xc .brand-zone-container .brand-zone-title .list{
    position: absolute;
    right:0;
    top: 15%;
  }
  #xc .brand-zone-container .brand-zone-title .list>div{
    margin-right: 50px;
    text-align: center;
  }
  #xc .brand-zone-container .brand-zone-title .list>div>div{
    margin-top: 5px;
  }
  #xc #new-products-swiper .goods-info{
   background-color: #ededed;
  border: solid 3px #ffffff;
  padding: 18px;

  }
  #xc #new-products-swiper .goods-info a>div:first-child{
    line-height: 24px;
  }
  #xc #new-products-swiper .goods-info a>div:nth-child(2){
    margin-top: 25px;
    line-height: 24px;
  }
  #xc #new-products-swiper .goods-info div,#xc #brand-zone-swiper .goods-info div,#xc .crowdfunding-container .crowdfunding-item .goods-info div{
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  transition: opacity 0.2s;
  }
  #xc .swiper-button-next, #xc .swiper-button-prev{
    width: 45px;
    height: 45px;
    background-size: 100% 100%;
  }
  #xc .swiper-button-prev, #xc .swiper-container-rtl .swiper-button-next{
    background-image: url(../images/swiper-left-btn.jpg);
  }
  #xc .swiper-button-next, #xc .swiper-container-rtl .swiper-button-prev{
    background-image: url(../images/swiper-right-btn.jpg);
  }
  #xc #new-products-swiper .goods-info div{
    -webkit-line-clamp: 2;
  }
  #xc .new-swiper .swiper-pagination{
    bottom: -27px;
    left: 50%;
    width: 70%;
    transform: translate(-50%);
  }
  #xc .swiper-container{
    position: initial;
  }
  #xc .swiper-pagination-bullet-active{
    background-color: #2435a1 !important;
  }
  #xc .swiper-pagination-bullet{
    width: 13px;
    height: 13px;
    background: #999999;
    opacity: 1;
    cursor: pointer;
  }
  #xc .swiper-pagination-bullet{
    margin: 0 10px;
  }
  #xc #new-products-swiper .btn{
    width: 125px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }
  #xc #new-products-swiper  .btn-list{
    margin-top: 10px;
    padding: 5px;
  }
  #xc #new-products-swiper  .inquiry-btn,#xc .brand-slide-show .btn-list .inquiry-btn{
    background-color: #2435a1;
  }
  #xc #new-products-swiper  .inquiry-btn:hover,#xc .brand-slide-show .btn-list .inquiry-btn:hover{
    background-color: #35c;
  }
  #xc #new-products-swiper  .favorite-btn,#xc .brand-slide-show .btn-list .favorite-btn{
    background-color: #c9c9c9;
  }
  #xc #new-products-swiper  .favorite-btn:hover,#xc .brand-slide-show .btn-list .favorite-btn:hover{
    background-color: #aaa;
  }
  #xc #new-products-swiper .swiper-wrapper .swiper-slide{
    border:2px solid  #ffffff;
    overflow: hidden;
  }
  #xc #brand-zone-swiper .swiper-slide{
    padding: 7px;
    height: 271px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
  }
  #xc #brand-zone-swiper .goods-info{
    padding:14px 8px;
  }
   #xc .crowdfunding-container #crowdfunding-swiper .swiper-slide{
    background-color: #ffffff;
    border: solid 2px #cccccc;
    height: 456px;
  }
   #xc .crowdfunding-container #crowdfunding-swiper .swiper-slide .goods-price{
    font-size: 14px;
    color:#808080;
    line-height: 27px;
  }
   #xc .crowdfunding-container .tip .tip-list{
    list-style: disc;
    color: #b7b7b7;
  }
   #xc .crowdfunding-container .tip .tip-list li{
    margin-left: 20px;
  }
  #xc .crowdfunding-container .crowdfunding-item .goods-info div,#xc #brand-zone-swiper .goods-info div{
    -webkit-line-clamp: 3;
  }
  #xc .crowdfunding-container .crowdfunding-item .goods-detail{
    padding:0 20px 20px 20px;
  }
  #xc .crowdfunding-container .crowdfunding-item .goods-name{
    line-height: 39px;
    border-bottom: 1px solid  #dddddd;
  }
  #xc .crowdfunding-container .crowdfunding-item .goods-title{
    line-height: 24px;
    margin: 10px 0;
  }
  #xc .crowdfunding-container .crowdfunding-item .goods-time{
    margin-top: 10px;
  }
  #xc .el-progress-bar__outer{
    background-color: #c7f0e2;
  }
  #xc a:hover{
    text-decoration: underline;
  }
  #xc .products-active{
    border:2px solid  #2435a1 !important;
  }
  #xc #brand-zone-swiper .swiper-slide:hover .goods-info div{
    opacity: 0;
  }
  #xc .new-slide-show .new-slide-show-name{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    height: 89px;
    padding: 18px 18px 0 18px;
  }
  #xc .transformY{
    -moz-transition:all .4s linear;
    -webkit-transition:all .4s linear;
    -o-transition:all .4s linear;
    -ms-transition:all .4s linear;
    transition:all .4s linear;
    -moz-transform:translateY(300px);
    -webkit-transform:translateY(300px);
    -o-transform:translateY(300px);
    transform:translateY(300px);
  }
  #xc .new-slide-show{
    width: 100%;
    height: 164px;
    border: solid 3px #ffffff;
    position: absolute;
    bottom: 0;
    background-color: #ededed;
  }
  #xc .swiper-slide:hover .new-slide-show,#xc .swiper-slide:hover .brand-slide-show{
    -moz-transform:translateY(0px);
    -webkit-transform:translateY(0px);
    -o-transform:translateY(0px);
    transform:translateY(0px);
  }
  #xc .brand-slide-show a{
    height: 100%;
  }
  #xc .flexSb{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -moz-justify-content:space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align:center;
  }
  #xc .brand-slide-show{
    width: 100%;
    height: 271px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 8px 15px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-box-align:flex-start;
    -moz-align-items:flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  #xc .brand-slide-show .btn-list{
    width: 100%;
    -webkit-box-align:center;
    -moz-align-items:center;
    -webkit-align-items: center;
    align-items: center;
  }
  #xc .brand-slide-show .btn-list .btn{
    width: 82px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
  #xc .brand-slide-show-name{
    -webkit-line-clamp: 4;
    padding-top: 12px;
    font-size: 16px;
  }
  #xc .brand-slide-show .brand-price{
    margin-top: 20px;
  }
