/* 鞋款分类wrap */
.w_1200 .wide {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

#xsq .btn-blue{
  background-color: #2435a1;
}
#xsq .btn-blue:hover{
  background-color: #35c;
}
#xsq .btn-gray{
  background-color: #c9c9c9;
}
#xsq .btn-gray:hover{
  background-color: #aaa;
}

#xsq .hover-show{
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  /* transition: all 0.4s; */
  transition: all 0.5s ease;
  background: rgba(255,255,255,0.74);
  border: 2px solid rgba(36,53,161,1);
}

/* #xsq .wide{
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
} */
/* #xsq .swiper-wrapper{
  box-sizing: content-box;
} */
#xsq .goods-category-wrap{
  /* padding: 56px 24px; */
  background: url("../images/man-banner.jpg") no-repeat center / cover;
}
#xsq .goods-category-wrap .goods-category-item{
  padding: 56px 24px;
  /* background: url("../images/man-banner.jpg") no-repeat center / cover; */
}
#xsq .goods-category-wrap .goods-category-item .flex-left-right{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#xsq .goods-category-item .big-title{
  margin-bottom: 10px;
  font-size: 40px;
}
#xsq .goods-category-item .descript-box{

}
#xsq .goods-category-item .descript-box .content-text{
  line-height: 26px;
  font-size: 22px;
}
#xsq .goods-category-item .descript-box .btn-see-all{
	height: 50px;
	line-height: 50px;
  margin-top: 90px;
  padding: 0 35px;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
	background-color: #2435a1;
}
#xsq .goods-category-item .descript-box .btn-see-all:hover{
	background-color: #35c;
}

/* 3个轮播中 右侧-产品 */
#xsq .goods-category-item .right-goods-out-wrap{
  width: 761px;
  margin: 0;
  flex-shrink: 0;
  /* display: flex; */
  /* align-items: flex-start; */
  /* justify-content: space-between; */
}
#xsq .goods-category-item .right-goods-out-wrap .slide-title{
  padding-top: 3px;
  height: 80px;

  font-size:30px;
  font-family:ArialMT;
  font-weight:400;
  color:rgba(51,51,51,1);
  /* color: transparent; */
  /* margin-bottom: 20px; */
}
#xsq .goods-category-item .right-goods-wrap{
  width: 761px;
  /* flex-shrink: 0; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#xsq .goods-category-item .right-goods-wrap .item{
  position: relative;
  width: 180px;
	height: 227px;
	background-color: #fff;
}
#xsq .goods-category-item .right-goods-wrap .goods-pic{
  width: 180px;
	height: 150px;
	object-fit: contain;
}
#xsq .goods-category-item .right-goods-wrap .goods-name{
  line-height: 22px;
  padding: 12px 14px 12px 20px;
  transition: all 0.2s;
  opacity: 1;
  font-size: 16px;
	color: #333;
}

/* 鼠标移入后的显示 */
/* #xsq .goods-category-item .right-goods-wrap .hover-show{
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  background: rgba(255,255,255,0.74);
  border:1px solid rgba(36,53,161,1);
} */
#xsq .goods-category-item .right-goods-wrap .item:hover .hover-show{
  top: 0;
  opacity: 1;
}
#xsq .goods-category-item .right-goods-wrap .hover-text-wrap{
  padding: 8px 10px;
  font-size: 14px;
  font-family: ArialMT;
  color: #000;
}
#xsq .goods-category-item .right-goods-wrap .hover-text-wrap .goods-name2:hover{
  color: #666;
}
#xsq .goods-category-item .right-goods-wrap .hover-show .goods-name2{
  height: 64px;
  line-height: 22px;
  margin-bottom: 24px;
  font-family: MicrosoftYaHei;
	font-size: 16px;
}
#xsq .goods-category-item .right-goods-wrap .hover-show .price{

}
#xsq .goods-category-item .right-goods-wrap .hover-show .tips{

}
#xsq .goods-category-item .right-goods-wrap .hover-show .btn-group{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  /* padding: 0 7px 8px; */
  padding-bottom: 8px;
}
/* 按鈕樣式 */
#xsq .goods-category-item .hover-show .btn-inquiry,#xsq .goods-category-item .hover-show .btn-collect{
  position: relative;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  padding-left: 28px;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
}
/* 按钮内小图标 */
#xsq .goods-category-item .hover-show .btn-inquiry .icon ,#xsq .goods-category-item .hover-show .btn-collect .icon {
  position: absolute;
  left: 5px;
  top: 6px;
  width: 20px;
  height: 20px;
  background: url("../images/icon-inquiry.png") no-repeat center ;
}
#xsq .goods-category-item .hover-show .btn-collect{
  margin-left: 6px;
}
#xsq .goods-category-item .hover-show .btn-collect .icon-collect{
  position: absolute;
  left: 5px;
  top: 6px;
  width: 20px;
  height: 20px;
  background: url("../images/icon-favorite-off.png") no-repeat center ;
}
#xsq .goods-category-item .hover-show .btn-collect .icon-collect.on{
  background: url("../images/icon-favorite-on.png") no-repeat center ;
}

/* 鼠标移入后不显示之前的name */
#xsq .goods-category-item .right-goods-wrap .item:hover .goods-name{
  opacity: 0;
}

/* 男鞋、女、童的nav wrap */
#xsq .goods-category-nav-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 34%;
  height: 104px;
  cursor: pointer;
  font-size: 31px;

  transition: background-color 0.3s;
	background-color: #fff;
}
/* 3个nav-item点击切换 */
#xsq .goods-category-nav-wrap .goods-category-nav-item .icon{
  margin-right: 30px;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item .icon-off{
  display: inline-block;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item .icon-on{
  display: none;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item.active{
  color: #fff;
  background-color: #2435a1;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item.active .icon-off{
  display: none;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item.active .icon-on{
  display: inline-block;
}
/* 选中的箭头 */
#xsq .goods-category-nav-wrap .goods-category-nav-item:after{
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 9;
  transform: translateX(-50%);
  transition: all 0.2s;
  opacity: 0;
  border: 17px solid transparent;
  border-bottom: 17px solid #2435a1;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item.active:after{
  opacity: 1;
}
