.change_lang{
  position: fixed;
  top: 80px;
  left: 70%;
  cursor: pointer;
  z-index: 99;
  color: #000;
}
.change_lang dt{
  min-width: 202px;
  height: 40px;
  line-height: 40px;
  background-color: #edf1f5;
  /* border-radius: 0px 3px 3px 0px; */
}

.change_lang .bar-left{
  position: relative;
}
.change_lang .bar-left:after{
  content:"";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 1px;
  background: #999;
}
.change_lang .icon-flag{
  width: 16px;
  height: 11px;
  margin: 0 10px 0 7px;
  position: relative;
  top: -2px;
}
.change_lang .to-home{
  display: inline-block;
}
.change_lang .icon-home{
  position: relative;
  top: -2px;
  width: 18px;
  height: 18px;
  padding-left: 20px;
  vertical-align: middle;
}
/* .change_lang dt .icon-arrow{
  width: 16px;
  height: 16px;
  position: relative;
  margin-left: 10px;
} */
.change_lang dt .icon-two-bar{
  width: 13px;
  height: 7px;
  position: relative;
  margin-right: 6px;
}
.change_lang dt .rotate{
  transform: rotate(180deg);
}
.change_lang dd{
 display: none;
 background-color: #ffffff;
 border-radius: 0px 0px 3px 3px;
}
.change_lang dd a{
  display: block;
  height: 34px;
  line-height: 34px;
  overflow: hidden;
  color: #000000;
  text-decoration: none;
}

.w1200{
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
.min-width{
  min-width: 1200px;
}
.flexible{
  display: flex;
  align-items: center;
}
.flexible.flexible-column{
flex-direction: column;
}
.flexible.flex-around{
justify-content: space-around;
}
.flexible .flex-no-shrink{
  flex-shrink: 0;
}
.flexible .flex-grow{
  flex-grow: 1;
}
.por{
  position: relative;
}
.poa{
  position: absolute;
  z-index: 9;
}
.tc{
  text-align: center;
}
/* a标签 */
.inline-block{
  display: inline-block;
  width: 100px;
  height: 50px;
  /* background: #d60; */
}
.bg-blue{
  background-color: #00478a;
}
.bg-yellow{
  background: #ffd200;
}
.over-hidden{
  overflow: hidden;
}
/* 顶部banner大图 - 右下角有一个黄色的bar */
.haveYellowBarInBottom{
  position: relative;
}
.haveYellowBarInBottom:after{
  content:"";
  position: absolute;
  height: 115px;
  width: 50%;
  right: 0;
  bottom: 0;
  background: #ffd200;
}
/* 顶部大图 - 全屏的*/
.pic-banner_1_01{
  height: 976px;
  background:  #00478a url("../images/index1.jpg") no-repeat center / 1920px;
}
.pic-banner_1_01 .text-index1{
  position: absolute;
  top: 135px;
  width: 802px;
  /* height: 589px; */
}

/* 红白双色 */
.pic-banner_3_01{
  /* height: 360px;
  background:  #f1f1f1 url("../images/romania/index2.jpg") no-repeat center / 1920px; */
  height: 259px;
  background:  #f1f1f1 url("../images/romania/index2.png") no-repeat center / 1920px;
}
.right-red-bg{
  position: relative;
}
.right-red-bg:after{
  content:"";
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
  margin-left: 960px;
  top: 0;
  background: #e43527;
}

/* 手机 - 数据 */
.phone-relate{
  width: 1200px;
  /* height: 1112px; */
}

/* 公司介绍 */
.pic-banner_4_01{
  /* height: 1003px; */
  /* background:  url("../images/romania/index4.jpg") no-repeat center / 1920px; */
  height: 882px;
  background:  url("../images/romania/index4.png") no-repeat center / 1920px;
}
/* 便利 - 图 */
.pic-banner_5_01{
  /* height: 1220px;
  background:  url("../images/romania/index5.jpg") no-repeat center / 1920px; */
  height: 1125px;
  background:  url("../images/romania/index5.png") no-repeat center / 1920px;
}
/* showroom */
.pic-banner_6_01{
  /* height: 1033px; */
  /* background:  url("../images/romania/index6.jpg") no-repeat center / 1920px; */
  height: 855px;
  background:  url("../images/romania/index6.png") no-repeat center / 1920px;
}
/* 工厂实拍 */
.pic-banner_7_01{
  height: 1279px;
  /* background:  url("../images/romania/index7.jpg") no-repeat center / 1920px; */
  height: 1192px;
  background:  url("../images/romania/index7.png") no-repeat center / 1920px;
}
/* 工厂实拍 */
.pic-banner_8_01{
  /* height: 788px; */
  /* background: #fbf8fb url("../images/romania/index8.jpg") no-repeat center / 1920px; */
  height: 690px;
  background: #fbf8fb url("../images/romania/index8.png") no-repeat center / 1920px;
}
/* 底部 */
.pic-banner_9_01{
  height: 566px;
  position: relative;
  /* background: #f8ca23 url("../images/index9.jpg") no-repeat center / 1920px; */
  background-image: -moz-linear-gradient( 45deg, #fcd02c 0%, #eaba08 50%, #fdd12d 100%);
  background-image: -webkit-linear-gradient( 45deg, #fcd02c 0%, #eaba08 50%, #fdd12d 100%);
  background-image: -ms-linear-gradient( 45deg, #fcd02c 0%, #eaba08 50%, #fdd12d 100%);

}

/* 超链接 - 定位*/
.a-banner_1_01{
  top: 662px; left: 0px;  height: 60px;  width: 400px;
}
.a-banner_1_02{
  top: 662px; left: 409px;  height: 60px;  width: 257px;
}
.a-banner_3_01{
  top: 1025px; left: 350px; height: 90px; width: 500px;
}
.a-banner_4_01{
  top: 860px;left: -100px;height: 80px;width: 360px;
}
.a-banner_5_01{
  top: 1140px;left: 400px;height: 80px;width: 360px;
}
.a-banner_6_01{
  top: 900px;left: 920px;height: 80px;width: 460px;
}
.a-banner_7_01{
  top: 1170px;left: 360px;height: 80px;width: 480px;
}
.a-banner_9_01{
  top: 140px;left: 760px;height: 80px;width: 420px;
}

.right-blue-bg{
  position: relative;
}
.right-blue-bg:before{
  content:"";
  position: absolute;
  left: 0;
  top: -160px;
  width: 283px;
  height: 529px;
  background: url("../images/bottom-bg-left.png") no-repeat;
  background-size: contain;
}
.right-blue-bg:after{
  content:"";
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
  margin-left: 700px;
  top: 0;
  background: #00519e;
  transform: skewX(-10deg)
}
.right-blue-bg .text-bottom{
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 99;
  margin-left: -600px;
  width: 436px;
  height: 169px;
}
/* 底部的form表单 */
.bottom-form{
  position: absolute;
  left: 50%;
  top: -60px;
  z-index: 9;
  width: 714px;
  height: 418px;
  border-radius: 12px;
  /* width: 598px;
  height: 306px; */
}

.fs26 {
  font-size: 26px;
}

.fs18 {
  font-size: 18px;
}

.index2 {
            width: 100%;
            height: 956px;
            background-color: #ffd200;
        }
        .index2 .index2-title{
            font-size: 64px;
    color: #ffffff;
    margin-bottom: 20px;
        }

        .btn2{
            position: absolute;
            height: 72px;
            transform: translate(-50%);
            left: 50%;
            /* bottom: -50px; */
        }
        .btn2 a{
            display: inline-block;
            transform: translate(-50%);
            left: 50%;
            padding: 0 40px;
            height: 72px;
            line-height: 72px;
            text-align:center;
            background-color: #e43527;
            border-radius: 10px;
            position: absolute;
            font-size: 38px;
	color: #ffffff;
        }
        .swiper-container {
          width: 1264px;
          padding: 100px 0;
      }


      .swiper-slide {
          font-size: 0;
          width: 408px !important;
      }
      .swiper-slide img{
          width: 100%;
          height: 257px;
      }

      .swiper-slide .index2-dec {
          background-color: #ffffff;
          height: 140px;
          padding: 29px;
          color: #333;
      }

      .swiper-slide .index2-dec p:nth-child(2) {
          color: #999;
      }

      .swiper-pagination {
          text-align: left;
          bottom: 47px !important;
      }

      .swiper-pagination-bullet {
          width: 75px;
          height: 18px;
          background-color: #ffffff;
          border-radius: 10px;
          opacity: 1;
      }

      .swiper-pagination-bullet-active {
          width: 139px;
          height: 18px;
          background-color: #0154a2;
          border-radius: 8px;
      }


@media screen and (max-width: 1600px) {
  .index2 {
    height: 800px;
  }
  .index2 .index2-title{
    font-size: 60px;
  }

  .btn2{
    height: 60px;
  }
  .btn2 a{
    padding: 0 40px;
    height: 60px;
    line-height: 60px;
    font-size: 34px;
  }
  .swiper-container {
    width: 1054px;
    padding: 100px 0;
  }

  .swiper-slide {
    width: 338px !important;
  }
  .swiper-slide img{
      height: 214px;
  }

  .swiper-slide .index2-dec {
    height: 142px;
    padding: 20px;
  }

  .swiper-pagination {
    bottom: 40px !important;
  }

  .swiper-pagination-bullet {
    width: 70px;
    height: 16px;
  }

  .swiper-pagination-bullet-active {
    width: 130px;
    height: 16px;
  }



  .haveYellowBarInBottom:after{
    height: 72px;
  }
  .pic-banner{
    background-size: 1710px;
  }
  .pic-banner1{
    background-size: 1200px;
  }
  /* 顶部大图 - 全屏的*/
  .pic-banner_1_01{
    height: 610px;
  }
  .pic-banner_1_01 .text-index1{
    position: absolute;
    top: 50px;
    left: 74px;
    width: 600px;
    height: 430px;
  }
  /* 红白双色 */
  .pic-banner_3_01{
    /* height: 225px; */
    /* height: 182px; */
  }
  .right-red-bg:after{
    margin-left: 600px;
  }
  /* 手机 - 数据 */
  .phone-relate{
    width: 1054px;
    /* height: 695px; */
  }
  /* 公司介绍 */
  .pic-banner_4_01{
    /* height: 627px; */
  }
  /* 便利 - 图 */
  .pic-banner_5_01{
    height: 1015px;
  }
  /* showroom */
  .pic-banner_6_01{
    /* height: 645px; */
    height: 788px;
  }
  /* 工厂实拍 */
  .pic-banner_7_01{
    /* height: 800px; */
    height: 1080px;
  }
  /* 工厂实拍 */
  .pic-banner_8_01{
    /* height: 493px; */
    height: 535px;
  }
  .pic-banner_9_01{
    height: 456px;
    background-size: 1920px;
  }
  .right-blue-bg:before{
    top: -120px;
    width: 235px;
    height: 440px;
  }

  .right-blue-bg .text-bottom{
    top: 80px;
    margin-left: -490px;
    width: 363px;
    height: 141px;
  }
  /* 底部的form表单 */
  .bottom-form{
    top: -38px;
    width: 595px;
    height: 348px;
  }

  /* 超链接 - 定位*/
  .a-banner_1_01{
    top: 436px; left: 78px;  height: 44px;  width: 293px;
  }
  .a-banner_1_02{
    top: 436px; left: 380px;  height: 44px;  width: 227px;
  }
  .a-banner_3_01{
    top: 635px; left: 440px; height: 60px; width: 320px;
  }
  .a-banner_4_01{
    top: 520px;left: 120px;height: 60px;width: 240px;
  }
  .a-banner_5_01{
    top: 710px;left: 440px;height: 60px;width: 280px;
  }
  .a-banner_6_01{
    top: 560px;left: 780px;height: 80px;width: 360px;
  }
  .a-banner_7_01{
    top: 720px;left: 400px;height: 80px;width: 400px;
  }
  .a-banner_9_01{
    top: 130px;left: 740px;height: 60px;width: 320px;

}

@media screen and (max-width: 1200px) {
  .index2 {
    height: 600px;
  }
  .index2 .index2-title{
    font-size: 42px;
  }

  .btn2{
    height: 50px;
  }
  .btn2 a{
    padding: 0 36px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
  }
  .swiper-container {
    width: 790px;
    padding: 80px 0;
  }

  .swiper-slide {
    width: 250px !important;
  }
  .swiper-slide img{
      height: 160px;
  }

  .swiper-slide .index2-dec {
    height: 119px;
    padding: 16px;
  }
  .swiper-slide .index2-dec .fs26{
    font-size: 20px;
  }
  .swiper-slide .index2-dec .fs18{
    font-size: 16px;
  }
  .swiper-pagination {
    left: 10px !important;
    bottom: 40px !important;
  }

  .swiper-pagination-bullet {
    width: 60px;
    height: 12px;
  }

  .swiper-pagination-bullet-active {
    width: 120px;
    height: 12px;
  }


  .w1200{
    width: 980px;
    min-width: 980px;
  }
  .min-width{
    min-width: 980px;
  }
  /* 底部 */
  .pic-banner_9_01{
    height: 354px;
    position: relative;
    background-size: 1200px;
  }
  .right-blue-bg:before{
    top:-80px;
    width: 177px;
    height: 330px;
  }
  .right-blue-bg:after{
    top: 1px;
    left: 50%;
    margin-left: 440px;
  }

    .right-blue-bg .text-bottom{
      top: 60px;
      margin-left: -300px;
      width: 272px;
      height: 105px;
    }
  /* 底部的form表单 */
  .bottom-form{
    top: -38px;
    width: 446px;
    height: 261px;
  }

  .haveYellowBarInBottom:after{
    height: 58px;
  }
  .pic-banner{
    background-size: 1290px;
  }
  .pic-banner1{
    background-size: 982px;
  }
  /* 顶部大图 - 全屏的*/
  .pic-banner_1_01{
    height: 498px;
  }

  .pic-banner_1_01 .text-index1{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 460px;
    height: 322px;
  }

  /* .pic-banner_1_01 .text-index1{
    position: absolute;
    top: 190px;
    width: 532px;
    height: 588px;
  } */
  /* 红白双色 */
  .pic-banner_3_01{
    /* height: 184px; */
    height: 150px;
  }
  .right-red-bg:after{
    margin-left: 480px;
    top: 1px;
  }
  /* 手机 - 数据 */
  .phone-relate{
    width: 790px;
    /* height: 567px; */
  }
  /* 公司介绍 */
  .pic-banner_4_01{
    height: 590px;
  }
  /* 便利 - 图 */
  .pic-banner_5_01{
    height: 800px;
  }
  /* showroom */
  .pic-banner_6_01{
    /* height: 527px; */
    height: 540px;
  }
  /* 工厂实拍 */
  .pic-banner_7_01{
    /* height: 653px; */
    height: 815px;
  }
  /* 工厂实拍 */
  .pic-banner_8_01{
    /* height: 402px; */
    height: 450px;
  }
  .pic-banner_9_01{
    background-size: 1200px;
  }
  .right-blue-bg:before{
    top: -50px;
    width: 144px;
    height: 270px;
  }
  /* 底部的form表单 */
  .bottom-form{
    top: -30px;
    width: 364px;
    height: 213px;
  }

  /* 超链接 - 定位*/
  .a-banner_1_01{
    top: 339px; left: 103px;  height: 33px;  width: 225px;
  }
  .a-banner_1_02{
    top: 339px; left: 335px;  height: 33px;  width: 147px;
  }
  .a-banner_3_01{
    top: 525px; left: 340px; height: 60px; width: 300px;
  }
  .a-banner_4_01{
    top: 430px;left: 100px;height: 60px;width: 260px;
  }
  .a-banner_5_01{
    top: 570px;left: 380px;height: 60px;width: 220px;
  }
  .a-banner_6_01{
    top: 460px;left: 640px;height: 80px;width: 260px;
  }
  .a-banner_7_01{
    top: 600px;left: 360px;height: 80px;width: 300px;
  }
  .a-banner_9_01{
    top: 60px;left: 540px;height: 60px;width: 260px;
  }
}
