@charset 'utf-8';
@import 'reset';

// 下拉选默认样式改变
.category-select-list .mu-popover{
  left: 0!important;
  width: 100%!important;
  min-width: 100%!important;
  .mu-list{
    padding: 0;
    li{
      border-bottom: 1px solid #eee;
      &.selected{
        position: relative;
        font-weight: bold;
        &:after{
          content: '';
          position: absolute;
          right: 1.5625rem;
          top: 50%;
          transform: translateY(-50%);
          width: 0.9375rem;
          height: 0.75rem;
          background: url("../images/icon/icon-right.png") no-repeat center / contain;
        }
      }
      &:last-child{
        border-bottom-width: 0;
      }
    }
    .mu-item{
      color: #2e469e;
      .mu-item-title{
        font-size: 0.625rem;
      }
    }

  }
}

.order-meeting-page{
  //写在reset里，会与之前的整个头部冲突
  line-height: 1.6;
  a, a:link, a:visited, a:hover, a:active {
    display: inline-block;
    color: inherit;
    text-decoration: none; }

  // 红色按钮
  .btn-red{
    display: inline-block;
    padding: 0 0.4rem;
    height: 1.6rem;
    line-height: 1.6rem;
		font-weight: bold;
    border: none; 
    border-radius: 0.2rem;
    font-size: 0.625rem;
    color: white!important;
    margin-top: 0.1rem;
    // background: #be1a39;
    background-color: #e43527;
  }
  // 顶部banner
  .banner{
    min-height: 8.75rem;
    padding:  1rem 2.71875rem;
    padding-right: 1rem;
    color: #3a4153;
    background: url("../images/banner.jpg") no-repeat center / cover;
    .banner_title_01{
      font-size: 0.625rem;
    }
    .banner_title_02{
      color: #043d81;
      font-weight: bold;
      font-size: 1.2937rem;
      letter-spacing: 0.1rem;
    }
    .banner_title_03{
      font-size: 0.787rem;
      color: #3a4153;
    }
    .banner_title_04{
      position: relative;
      left: -0.35rem;
      display: inline-block;
      padding: 0 0.35rem;
      font-size: 0.5rem;
      border-radius: 3rem;
      background-color: #ffc501;
    }
    .banner_title_05{
      margin-top: 0.2rem;
      line-height: 0.988rem;
      font-size: 0.5rem;
    }
  }

  // 鞋款分类选择
  .category-select-placeholder{
    height: 2.75rem;
    background: transparent;
  }
  .category-select-list{
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 2.75rem;
    color: #000;
    font-size: 0.75rem;
    background-color: #f2f2f2;
  	box-shadow: 0rem 0rem 0.063rem 0rem rgba(164, 164, 164, 0.31);

    .item{
      position: relative;
      flex-grow: 1;
      height: 2.281rem;
      line-height: 2.281rem;
      text-align: center;
      &:after{
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 100%;
        background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(0,0,0,0)), color-stop(0.5, #ddd), to(transparent));
      }

      &:last-child:after{
        display: none;
      }

      &.active{
        font-weight: bold;
        color: #043d81;
      }
    }
    &.isfixed{
      position: fixed;
    }
  }

  // 产品列表
  .goods-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.656rem 0.688rem;
    background: #fff;
    .goods-item{
      // width: 10.75rem;
      width: 49%;
      // min-height: 15.625rem;
      margin-bottom: 0.625rem;
      overflow: hidden;
      border-radius: 0.556rem;
      border: solid 1px rgba(221, 221, 221, 0.45);
      background-color: #fffdff;
    }
    .goods-pic-wrap{
      position: relative;
      width: 100%;
      padding-top: 100%;
    }
    .goods-pic{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: #f2f2f2;
    }
    .goods-txt-box{
      padding: 0.6rem 0.3rem;
    }
    .goods-title{
      margin-bottom: 0.1rem;
      font-size: 0.563rem;
      min-height: 2.4rem;
      color: #252525;
    }
    .btn-contact{
      line-height: 1.438rem;
      padding: 0 0.5rem;
      font-size: 0.625rem;
      font-weight: bold;
      color: #fff;
      border-radius: 1rem;
      background: url("../images/btn-bg.png") no-repeat center / cover;

      .icon-letter{
        position: relative;
        top: -0.05rem;
        width: 0.906rem;
      	height: 0.719rem;
      }
    }
    .icon-heart{
      width: 1.4375rem;
      height: 1.1875rem;
    }
  }


  // 弹框样式 - copy
  .hoodle{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    overflow: hidden;
    .container {
        width: 80%;
    }
  }
  .hoodle_modle{
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1110;
  }
  .scroll-wrap{
    overflow: auto;
  }
  .hoodle_form{
      width: 80%;
      height: 90%;
      position: fixed;
      top: 1.2rem;
      left: 10%;
      // margin-left: auto;
      z-index: 1111;
      background-color: white;
      text-align: center;
  }
  .hoodle_form .hf-border{
      width: 100%;
      overflow: auto;
      height: 100%;
  }
  .hoodle .hoodle_form .close-btn{
      display: inline-block;
      position: absolute;
      top: -1rem;
      right: -1rem;
      width: 2rem;
      height: 2rem;
      line-height: 1.8rem;
      transform:rotate(45deg);
      font-size: 2rem;
      color: white;
      border-radius: 50%;
      background-color: #000;
  }
  .hoodle_form .hf-title{
    font-size: 0.9rem;
    font-weight: bolder;
    margin-top: 1rem;
  }
  .mu-form-item{
    margin-bottom: 0.2rem;
    padding-bottom: 0.5rem;
    .mu-button {
        margin: 0 auto;
        padding: 0.8rem 1.5rem;
        background-color: #e43527;
        border-radius: 0.2rem;
        font-size: 1.2rem;
    }
  }
  .mu-form-item-help{
    white-space: nowrap;
  }
  .mu-form-item-label {
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
  // .mu-popover{
  //   max-width: 78%;
  //   left: 0 !important;
  //   width: 100% !important;
  //   min-width: 100% !important;
  // }
  .mu-form-item .mu-input {
    border: 1px solid #CC5522;
    border-radius: 0.2rem;
    height: 1.75rem;
  }
  .hoodle_form .hf-input{
      width: 80%;
      text-align: left;
      margin: 0 auto 1rem;
  }
  .hoodle_form .hf-input .lable-span{
      font-size: 35px;
      line-height: 40px;
  		display: block;
  }
  .hoodle_form .hf-input input,
  .hoodle_form .hf-input select{
      width: 600px;
      height: 70px;
      margin-top: 20px;
      border: 2px solid #CC5522;
      border-radius: 10px;
      font-size: 30px;
      padding: 0 20px;
      background-color: white;
  }
  .hoodle_form .hf-input textarea{
      width: 600px;
      margin-top: 20px;
      border: 2px solid #CC5522;
      border-radius: 10px;
      font-size: 30px;
      padding: 0 20px;
  }
  .hoodle_form .hf-btn{
      text-align: center;
      margin-left: 0;
      margin-top: 50px;
  }
  .hoodle_form .hf-btn .btn{
      display: inline-block;
      width: 350px;
      height: 100px;
      line-height: 100px;
      background-color: red;
      color: white;
      font-size: 40px;
      border-radius: 20px;
      font-weight: 700;
  }
  .hoodle .hf-input .hf-text{

      font-size: 0.5rem;
      text-align: center;
      margin-bottom: 0 auto 1rem;
  }
}
