@charset "UTF-8";
body, html, ul, ol, li, span, a, div, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, select, option {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  font-size: 16px;
  width: 100%;
  height: 100%; }

body {
  font-family: "MicrosoftYaHei-Bold","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; }

input {
  outline: none;
  border: none; }

img, i, input {
  vertical-align: middle; }

img {
  -o-object-fit: contain;
     object-fit: contain; }

ul {
  list-style: none; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.fl {
  float: left; }

.fr {
  float: right; }

.por {
  position: relative; }

.bold {
  font-weight: bold; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.tl {
  text-align: left !important; }

.pointer {
  cursor: pointer; }

/* 两行省略号 */
.ellipsis_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.img-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.flexible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flexible.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.flexible.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flexible.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flexible.flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flexible.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flexible.flex-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flexible .flex-no-shrink {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.flexible .flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.no-wrap {
  white-space: nowrap; }

.triangle {
  display: inline-block;
  height: 0;
  vertical-align: middle;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 0.1875rem solid transparent;
  border-top: 0.24rem solid #2e469e;
  border-bottom-width: 0; }
  .triangle.rotate {
    -webkit-transform-origin: center 28%;
            transform-origin: center 28%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.mu-popover.transition-bottom {
  left: 0 !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important; }
  .mu-popover.transition-bottom .mu-list {
    padding: 0; }
    .mu-popover.transition-bottom .mu-list li {
      border-bottom: 1px solid #eee; }
      .mu-popover.transition-bottom .mu-list li.selected {
        position: relative;
        font-weight: bold; }
        .mu-popover.transition-bottom .mu-list li.selected:after {
          content: '';
          position: absolute;
          right: 1.5625rem;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          width: 0.9375rem;
          height: 0.75rem;
          background: url("../images/icon/icon-right.png") no-repeat center/contain; }
      .mu-popover.transition-bottom .mu-list li:last-child {
        border-bottom-width: 0; }
    .mu-popover.transition-bottom .mu-list .mu-item {
      color: #2e469e; }
      .mu-popover.transition-bottom .mu-list .mu-item .mu-item-title {
        font-size: 0.625rem; }

.order-meeting-page {
  line-height: 1.6; }
  .order-meeting-page a, .order-meeting-page a:link, .order-meeting-page a:visited, .order-meeting-page a:hover, .order-meeting-page a:active {
    display: inline-block;
    color: inherit;
    text-decoration: none; }
  .order-meeting-page .btn-red {
    display: inline-block;
    padding: 0 0.4rem;
    line-height: 1.6rem;
    font-weight: bold;
    border: none;
    border-radius: 0.2rem;
    font-size: 0.625rem;
    color: white !important;
    margin-top: 0.1rem;
    background-color: #e43527; }
  .order-meeting-page .banner {
    min-height: 8.75rem;
    padding: 1rem 2.71875rem;
    padding-right: 1rem;
    color: #3a4153;
    background: url("../images/banner.jpg") no-repeat center/cover; }
    .order-meeting-page .banner .banner_title_01 {
      font-size: 0.625rem; }
    .order-meeting-page .banner .banner_title_02 {
      color: #043d81;
      font-weight: bold;
      font-size: 1.2937rem;
      letter-spacing: 0.1rem; }
    .order-meeting-page .banner .banner_title_03 {
      font-size: 0.787rem;
      color: #3a4153; }
    .order-meeting-page .banner .banner_title_04 {
      position: relative;
      left: -0.35rem;
      display: inline-block;
      padding: 0 0.35rem;
      font-size: 0.5rem;
      border-radius: 3rem;
      background-color: #ffc501; }
    .order-meeting-page .banner .banner_title_05 {
      margin-top: 0.2rem;
      line-height: 0.988rem;
      font-size: 0.5rem; }
  .order-meeting-page .category-select-placeholder {
    height: 2.75rem;
    background: transparent; }
  .order-meeting-page .category-select-list {
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 2.75rem;
    color: #000;
    font-size: 0.75rem;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0rem 0rem 0.063rem 0rem rgba(164, 164, 164, 0.31);
            box-shadow: 0rem 0rem 0.063rem 0rem rgba(164, 164, 164, 0.31); }
    .order-meeting-page .category-select-list .item {
      position: relative;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 2.281rem;
      line-height: 2.281rem;
      text-align: center; }
      .order-meeting-page .category-select-list .item:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 1px;
        height: 100%;
        background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(0.5, #ddd), to(transparent)); }
      .order-meeting-page .category-select-list .item:last-child:after {
        display: none; }
      .order-meeting-page .category-select-list .item.active {
        font-weight: bold;
        color: #043d81; }
    .order-meeting-page .category-select-list.isfixed {
      position: fixed; }
  .order-meeting-page .goods-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.656rem 0.688rem;
    background: #fff; }
    .order-meeting-page .goods-list .goods-item {
      width: 49%;
      margin-bottom: 0.625rem;
      overflow: hidden;
      border-radius: 0.556rem;
      border: solid 1px rgba(221, 221, 221, 0.45);
      background-color: #fffdff; }
    .order-meeting-page .goods-list .goods-pic-wrap {
      position: relative;
      width: 100%;
      padding-top: 100%; }
    .order-meeting-page .goods-list .goods-pic {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: #f2f2f2; }
    .order-meeting-page .goods-list .goods-txt-box {
      padding: 0.6rem 0.3rem; }
    .order-meeting-page .goods-list .goods-title {
      margin-bottom: 0.1rem;
      font-size: 0.563rem;
      min-height: 2.4rem;
      color: #252525; }
    .order-meeting-page .goods-list .btn-contact {
      line-height: 1.438rem;
      padding: 0 0.5rem;
      font-size: 0.625rem;
      font-weight: bold;
      color: #fff;
      border-radius: 1rem;
      background: url("../images/btn-bg.png") no-repeat center/cover; }
      .order-meeting-page .goods-list .btn-contact .icon-letter {
        vertical-align: middle;
        position: relative;
        top: -0.05rem;
        width: 0.906rem;
        height: 0.719rem; }
    .order-meeting-page .goods-list .icon-heart {
      width: 1.4375rem;
      height: 1.1875rem; }
  .order-meeting-page .hoodle {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    overflow: hidden; }
    .order-meeting-page .hoodle .container {
      width: 80%; }
  .order-meeting-page .hoodle_modle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1110; }
  .order-meeting-page .scroll-wrap {
    overflow: auto; }
  .order-meeting-page .hoodle_form {
    width: 80%;
    height: 90%;
    position: fixed;
    top: 1.2rem;
    left: 10%;
    z-index: 1111;
    background-color: white;
    text-align: center; }
  .order-meeting-page .hoodle_form .hf-border {
    width: 100%;
    overflow: auto;
    height: 100%; }
  .order-meeting-page .hoodle .hoodle_form .close-btn {
    display: inline-block;
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 2rem;
    height: 2rem;
    line-height: 1.8rem;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    background-color: #000; }
  .order-meeting-page .hoodle_form .hf-title {
    font-size: 0.9rem;
    font-weight: bolder;
    margin-top: 1rem; }
  .order-meeting-page .mu-form-item {
    margin-bottom: 0.2rem;
    padding-bottom: 0.5rem; }
    .order-meeting-page .mu-form-item .mu-button {
      margin: 0 auto;
      padding: 0.8rem 1.5rem;
      background-color: #e43527;
      border-radius: 0.2rem;
      font-size: 1.2rem; }
  .order-meeting-page .mu-form-item-help {
    white-space: nowrap; }
  .order-meeting-page .mu-form-item-label {
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.8rem; }
  .order-meeting-page .mu-form-item .mu-input {
    border: 1px solid #CC5522;
    border-radius: 0.2rem;
    height: 1.75rem; }
  .order-meeting-page .hoodle_form .hf-input {
    width: 80%;
    text-align: left;
    margin: 0 auto 1rem; }
  .order-meeting-page .hoodle_form .hf-input .lable-span {
    font-size: 35px;
    line-height: 40px;
    display: block; }
  .order-meeting-page .hoodle_form .hf-input input,
  .order-meeting-page .hoodle_form .hf-input select {
    width: 600px;
    height: 70px;
    margin-top: 20px;
    border: 2px solid #CC5522;
    border-radius: 10px;
    font-size: 30px;
    padding: 0 20px;
    background-color: white; }
  .order-meeting-page .hoodle_form .hf-input textarea {
    width: 600px;
    margin-top: 20px;
    border: 2px solid #CC5522;
    border-radius: 10px;
    font-size: 30px;
    padding: 0 20px; }
  .order-meeting-page .hoodle_form .hf-btn {
    text-align: center;
    margin-left: 0;
    margin-top: 50px; }
  .order-meeting-page .hoodle_form .hf-btn .btn {
    display: inline-block;
    width: 350px;
    height: 100px;
    line-height: 100px;
    background-color: red;
    color: white;
    font-size: 40px;
    border-radius: 20px;
    font-weight: 700; }
  .order-meeting-page .hoodle .hf-input .hf-text {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 0 auto 1rem; }
  .order-meeting-page .mu-button-wrapper {
    color: #fff; }

/*# sourceMappingURL=index.css.map */