body,html,ul,ol,li,span,a,div,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,select,option{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    font-size: 16px;
    width:100%;
    height:100%;
}
body{
    font-family: "MicrosoftYaHei-Bold","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
input{
    outline: none;
    border: none;
}
img,i,input{vertical-align: middle;}
img{
  object-fit: contain;
}
ul{
    list-style: none;
}

.clearfix{zoom:1}
.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
.por{
  position: relative;
}
.bold{
  font-weight: bold;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.tc{
  text-align: center;
}
.tr{
  text-align: right;
}
.tl{
  text-align: left!important;
}
.pointer{
  cursor: pointer;
}
/* 两行省略号 */
.ellipsis_2{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.img-contain{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flexible{
    display: flex;
    align-items: center;
}
.flexible.flex-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.flexible.flex-column{
  flex-direction: column;
}
.flexible.flex-center{
  justify-content: center;
}
.flexible.flex-start{
  align-items: flex-start;
}
.flexible.flex-between{
  justify-content: space-between;
}
.flexible.flex-around{
  justify-content: space-around;
}
.flexible .flex-no-shrink{
    flex-shrink: 0;
}
.flexible .flex-grow{
    flex-grow: 1;
}

.no-wrap{
  white-space: nowrap;
}
.triangle{
  display: inline-block;
  height: 0;
  transition: all 0.2s;
  border: 0.1875rem solid transparent;
  border-top: 0.24rem solid #2e469e;
  border-bottom-width: 0;
  &.rotate{
    transform-origin: center 28%;
    transform: rotate(180deg);
  }
}
