<!doctype html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,
maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta  name="keywords" content="Pantofi de piele pentru bărbați, pantofi pentru bărbați, pantofi pentru bărbați, încălțăminte pentru bărbați, pantofi pentru bărbați,
		sandale pentru copii, încălțăminte pentru bărbați, încălțăminte pentru femei, tocuri pentru femei, sandale doamnelor, firme de încălțăminte, furnizori de încălțăminte Companie,
		producător de pantofi sport, producător chinez de încălțăminte, producător de pantofi sport, fabrică de încălțăminte">
	<meta  name="discription" content="Vom deschide o sală de expoziții pentru târgul românesc de achiziții de încălțăminte offline. În acest showroom,
		puteți experimenta sute de stiluri de pantofi în zona locală și puteți cumpăra alegerea încălțămintei direct la prețul fabricii. În plus,
		puteți obține sfaturi profesionale de la personalizare.În această achiziție, vor fi expuse aproape 500 de stiluri diferite de încălțăminte pentru bărbați,
		femei și copii. Dacă rezervați un loc online, veți primi un dar misterios când veți ajunge. Mai multe pantofi gratuite vor fi disponibile la această expoziție.">
	<title>Reuniunea de achiziție offline a încălțămintei din România</title>
	<link rel="stylesheet" href="./css/reset.css" media="all">
	<link rel="stylesheet" href="css/romaina-new.css">
	<link rel="stylesheet" href="./css/index.css" media="all">
	<link rel="stylesheet" href="./css/index-ro.css" media="all">
	<link rel="stylesheet" href="./css/element-ui/element-ui.css">
	<script src="./js/jquery-1.7.2.min.js"></script>
	<script src="./js/vue.js"></script>
	<script src="./js/element-ui.js"></script>
</head>

<body>
	<!-- 语言切换 -->
	 <dl class="change_lang">
		<dt class="flexible" style="padding: 10px 20px;">
			<img src="./images/two-bar.png" alt="" class="icon-two-bar">
			<div class="flex-grow por">România</div>
			<a href="https://www.shoestp.com/" class="to-home bar-left">
				<img src="./images/icon-home.png" alt="" class="icon-home">
			</a>
		</dt>
		<dd>
			<a href="./romania-index-zh.html">
					<img src="./images/flag-zh.jpg" alt="language to chinese" class="icon-flag">
					中文
			</a>
			<a href="./romania-index-en.html">
					<img src="./images/flag-en.jpg" alt="language to English" class="icon-flag">
					English
			</a>
			<a href="./romania-index-ro.html">
					<img src="./images/flag-ro.jpg" alt="language to românia" class="icon-flag">
					România
			</a>
		</dd>
	</dl>

	<div id="app">
			<div class="banner_01">
				<div class="w1200 por">
					<a href="https://www.shoestp.com/">
						<img src="./images/logo-and-text.png" alt="logo" class="logo-and-text">
					</a>
				</div>
				<div class="header-text">
					<p class="white-text text-title">
						ROMÂNĂ OFFLINE
						<br>
						PANTOFI DE ACHIZIȚIE
					</p>
					<p class="yellow-text text-slogan">Tendințe Noi</p>
					<p class="yellow-text text-slogan">Comerțul Nou</p>
					<p class="yellow-text text-slogan">Nouă Eră</p>
					<p class="yellow-text text-time">2018.12.4-2018.12.19</p>
					<p class="yellow-text text-address">Exhibition Hall Opens All Year Round</p>
					<p class="white-text text-content">Magazinul Universal Dragonul Roșu Strada Drumul Garii 12,București 077190</p>
					<a class="btn" style="color: #fff;" href="https://www.jsform.com/web/formview/5b87847b75a03c126de93706" target="_blank">Obțineți Un Cadou Secret</a>
					<br>
					<a class="btn btn-grey" href="javascript:void(0);">Comandă Online Deschidere în Curând</a>
				</div>
			</div>

			<div class="banner_02">
				<div class="yellow_01"></div>
				<div class="yellow_02">
					<div class="block">
						<h2 class="white-text product-title">PRODUCT</h2>
						<p class="white-text product-title">AFIŞA</p>
						<el-carousel trigger="click" arrow="never">
							<el-carousel-item v-for="products in productCarousel">
								<div class="product-image" v-for="(item,index) in products" :class="{'margin_around' : index == 1}">
									<a :href="item.url" target="_blank">
										<img :src="item.imageUrl" alt="goods">
										<p class="pi-title">{{ item.title }}</p>
										<p class="pi-content">{{ item.content }}</p>
									</a>
								</div>
							</el-carousel-item>
						</el-carousel>
						<a class="btn btn-normal-red" href="https://www.jsform.com/web/formview/5b87847b75a03c126de93706" target="_blank">Obțineți Exemplul Gratuit Acum</a>
					</div>
				</div>
			</div>
		</div>


	<!-- 含手机的 banner 行 -->
	<div class="banner_03">
		<div class="w1200">
			<h1 class="banner-title">Îmbrăcăminte De Cumpărături Online</h1>
			<div class="banner-sub-title fs28 tc">Alegeți pantofii de la magazinul online de pantofi</div>
			<div class="flexible flex-between">
				<ul class="ul-wrap fs42">
					<li class="item">
						Peste <span class="fs64 color-blue">500</span> de pantofi <br/>  au fost selectate companii
					</li>
					<li class="item">
						<span class="fs64 color-yellow">500-800</span> perechi de pantofi premium
					</li>
					<li class="item">
						<span class="fs64 color-blue">24</span> hours customer service
					</li>
				</ul>

				<img src="./images/phone.png" alt="" class="phone-pic">
			</div>
			<div class="tc mt20">
				<a href="https://www.jsform.com/web/formview/5b87847b75a03c126de93706" target="_blank" class="btn-normal-red">
					Obțineți Exemplul Gratuit Acum
				</a>
			</div>
		</div>
	</div>

	<!-- 含背景logo的 banner 行 -->
	<div class="banner_04">
		<div class="w1200 por">
			<img src="./images/logo.png" alt="" class="bg-logo">
			<div class="flexible flex-start flex-between">
				<div class="pos-left">
					<h1 class="banner-title tl">Despre Noua Uniune</h1>
					<div class="banner-sub-title fs28 tl">Pantofi lanț industria de e-commerce platformă</div>
					<div class="flexible flex-between">
						<img src="./images/company_01.jpg" class="company-pic-item" alt="company's img_01">
						<img src="./images/company_02.jpg" class="company-pic-item" alt="company's img_02">
					</div>
					<a href="https://www.jsform.com/web/formview/5b87847b75a03c126de93706" class="btn-normal-red" target="_blank">
						Request Now
					</a>
				</div>

				<div class="pos-right">
					<div class="right-title fs38">Profilul Companiei</div>
					<div class="fs20">Înființată în 2015, Wenzhou New Union Industrial Co, Ltd. este situat în Wenzhou, care este faimos pentru "China Shoes Capital". În Wenzhou, un oraș cu o istorie îndelungată de dezvoltare a încălțămintei, s-au născut o serie de întreprinderi de încălțăminte. Noua Uniune Industrială a devenit prima platformă de servicii de integrare a lanțului de pantofi din lume prin intermediul modelului său unic de afaceri "B2B2C".</div>
					<div class="flexible flex-between">
						<img src="./images/company_03.jpg" class="company-pic-item" alt="company's img_03">
						<img src="./images/company_04.jpg" class="company-pic-item" alt="company's img_04">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 含4个重点的 banner 行 -->
	<div class="banner_05">
		<div class="w1200">
			<h1 class="banner-title">
				Ia-ți Proiectul A început
				<br>
				Mai Repede Cu Noua Uniune
			</h1>

			<div class="bg por">
				<div class="flexible flex-start flex-between">
					<div class="pos-left">
						<div class="left-item">
							<div class="flexible flex-between">
								<h2 class="blue-title fs36">CONSULTARE</h2>
								<div class="icon-wrap icon-chart">
									<img class="icon" src="./images/icon-chart.png" alt="icon-chart">
								</div>
							</div>

							<div class="sub-title fs22">
								Odată ce ne-am cunoaște obiectivele, vom stabili împreună cu dvs. un proces de producție pas cu pas care vă asigură că veți obține cea mai bună ofertă.
							</div>
							<ul class="ul-wrap fs24">
								<li class="item">
									Serviciul de linii de asistență de 24 de ore;
								</li>
								<li class="item">
									Sfaturi profesionale despre serviciul de personalizare pentru a vă asigura că aveți cele mai bune pantofi
								</li>
							</ul>
						</div>

						<div class="left-item">
							<div class="flexible flex-between">
								<h2 class="blue-title fs36">DE FABRICAȚIE</h2>
								<div class="icon-wrap icon-menu">
									<img class="icon" src="./images/icon-menu.png" alt="icon-menu">
								</div>
							</div>

							<div class="sub-title fs22">
								Prin procesul de producție, managerii responsabili cu tăierea, îmbinarea și verificarea permanentă a calității încălțămintei în mod constant. Nu suntem mulțumiți dacă fiecare pereche nu este perfectă.
							</div>
							<ul class="ul-wrap fs24">
								<li class="item">
									Efectuați testul chimic în funcție de cerințele dvs.
								</li>
								<li class="item">
									Oferiți un preț mai mic pentru a vă asigura profitul maxim pentru afacerea dvs.
								</li>
							</ul>
						</div>
					</div>

					<div class="pos-right">
						<div class="right-item">
							<div class="flexible flex-between por">
								<div class="icon-wrap icon-safe">
									<img class="icon" src="./images/icon-safe.png" alt="icon-safe">
								</div>
								<h2 class="blue-title fs36">CONTROL DE CALITATE</h2>
							</div>
							<div class="sub-title fs22">
								Calitatea încălțămintei este sufletul pentru noua Uniune, avem o echipă de design și producție foarte puternică, precum și o politică strictă și eficientă de control al calității în fiecare etapă.
							</div>
							<ul class="ul-wrap fs24">
								<li class="item">
									Experiența inspectorului de calitate va asigura calitatea încălțămintei dvs.;
								</li>
								<li class="item">
									Politică strictă de control al calității;
								</li>
								<li class="item">
									Produsele îndeplinesc cerințele diferitelor teste chimice și fizice de pe piețele principale.
								</li>
							</ul>
						</div>

						<div class="right-item">
							<div class="flexible flex-between por">
								<div class="icon-wrap icon-design">
									<img class="icon" src="./images/icon-design.png" alt="icon-design">
								</div>
								<h2 class="blue-title fs36">PROIECTA</h2>
							</div>
							<div class="sub-title fs22">
								Am experimentat designeri care pot proiecta mai mult de 2000 de modele de pantofi noi în fiecare an. Designerii noștri se consideră artiști de modă pentru încălțăminte.
							</div>
							<ul class="ul-wrap fs24">
								<li class="item">
									Serviciu de personalizare profesională pentru a vă asigura că obțineți pantofi minunați;
								</li>
								<li class="item">
									designerii cu experiență vă vor oferi mai multe sugestii practice și distinse;
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a href="https://www.shoestp.com/home/usr_UsrPurchase_sign" target="_blank" class="btn-normal-red">
					Obțineți Exemplul Gratuit Acum
				</a>
			</div>
		</div>
	</div>

	<!-- 工厂实拍的 banner 行  -->
	<div class="banner_06">
		<div class="w1200">
			<h1 class="banner-title">Prezentarea Fabricii Furnizorilor</h1>
		</div>
		<div class="company-pics-wrap flexible flex-between">
			<img src="./images/work-shop_01.jpg" alt="work shop's show" class="pic-item">
			<img src="./images/work-shop_02.jpg" alt="work shop's show" class="pic-item">
			<img src="./images/work-shop_03.jpg" alt="work shop's show" class="pic-item">
			<img src="./images/work-shop_04.jpg" alt="work shop's show" class="pic-item">
		</div>
		<div class="tc">
			<a href="https://www.jsform.com/web/formview/5b87847b75a03c126de93706" target="_blank" class="btn-normal-red">
				Obțineți Exemplul Gratuit Acum
			</a>
		</div>
	</div>

	<!-- 展示厅实拍的 banner 行  -->
	<div class="banner_07 por ">
		<img src="./images/show-room.jpg" alt="show's room" class="show-room-pic">
		<div class="w1200 flexible flex-end">

			<div class="right-content-wrap">
				<div class="right-title fs50">Salonul Românesc</div>
				<ul class="ul-wrap fs32">
					<li class="item">
						Experimentați sute de stiluri de pantofi la nivel local
					</li>
					<li class="item">
						Fabrica directă cu platformă fiabilă
					</li>
					<li class="item">
						Sfaturi profesionale despre personalizare
					</li>
				</ul>
				<div>
					<a href="https://www.jsform.com/web/formview/5b87847b75a03c126de93706" target="_blank" class="btn-normal-red">
						Rezervați Scaunul
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- 地图 -->
	<div class="banner_08" style="">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5693.8067835435595!2d26.173309385776506!3d44.47615296998695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1f9ac606033e3%3A0x7d391e85ce7a445b!2z5Lit5Zu957qi6b6Z5biC5Zy6!5e0!3m2!1szh-CN!2s!4v1541639443813"
			class="map-wrap" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>

	<!-- 地址详情 -->
	<div class="banner_09 fs30">
		<div class="w1200">
			<h1 class="banner_09-title fs52">
				ADRESĂ / CONTACT
				<br>
				PENTRU TÂRGUL DE COMERT
			</h1>
			<div class="flexible flex-between flex-start">
				<ul class="pos-left">
					<li class="item">
						<span class="title">A Lua Legatura:</span>
						<span>Romanesc</span>
					</li>
					<li class="item">
						<span class="title">Webite:</span>
						<span>https://www.shoestp.com/m/romania/</span>
					</li>
					<li class="item">
						<span class="title">Telephone：</span>
						<span>0762 900 529</span>
					</li>
					<li class="item">
						<span class="title">Whatsapp：</span>
						<span>+40 762 900 529</span>
					</li>
				</ul>

				<ul class="pos-right">
					<li class="item">
						<span class="title">Adresa Expoziției:</span>
						<br>
						<span>Universal Dragon Red Shop
						<br>
						Strada Drumul Garii 12, Bucharest
						<br>
						077190</span>
					</li>
				</ul>
			</div>

			<ul class="pos-bottom">
				<li class="item flexible flex-start">
					<span class="title">E-mail：</span>
					<span>544414672@qq.com (în limba română service)
						<br>
						marketing@shoestp.com (English service)</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="banner_10">
		<div class="w1200 flexible flex-between">
			<ul class="ul-wrap fs34">
				<li class="item">
					Mai multă alegere a stilurilor de încălțăminte
				</li>
				<li class="item">
					Experiența locală de excursii de modă pentru pantofi
				</li>
				<li class="item">
					Factory Direct cu servicii native fiabile
				</li>
			</ul>

			<div class="form-box flexible flex-column flex-center">
				<h2 class="form-title fs50">
					Treaba Ta
					<br>
					Nevoile Sunt Unice?
				</h2>

				<div class="form-content fs24">
					Să vă ajutăm să satisfaceți aceste nevoi!
					<br>
					Discutați cu noi și luați-vă probele gratuite acum.
				</div>

				<a href="https://www.jsform.com/web/formview/5b87847b75a03c126de93706" target="_blank" class="btn-normal-red">
					Rezervați scaunul
				</a>
			</div>
		</div>
	</div>

	<script>
		new Vue({
			el:'#app',
			data:{
				productCarousel:[
					[{
						url:'https://www.shoestp.com/home/pdt_PdtProduct?cated=373',
						imageUrl:'images/men1.png',
						title:'Pantofi Din Piele Pentru Bărbați',
						content:'Simplu, Dar La Modă'
					},{
						url:'https://www.shoestp.com/home/pdt_PdtProduct?cated=373',
						imageUrl:'images/men2.png',
						title:'Adidași Pentru Bărbați',
						content:'Rezistent La Abraziune, Rezistent La Alunecare'
					},{
						url:'https://www.shoestp.com/home/pdt_PdtProduct?cated=373',
						imageUrl:'images/men3.png',
						title:'Pantofi Casual Pentru Bărbați',
						content:'Liber Flexibil, Ușor'
					}],
					[{
						url:'https://www.shoestp.com/home/pdt_PdtProduct?cated=380',
						imageUrl:'images/women1.png',
						title:'Tocuri înalte Pentru Femei',
						content:'Elegant, Ușor'
					},{
						url:'https://www.shoestp.com/home/pdt_PdtProduct?cated=380',
						imageUrl:'images/women2.png',
						title:'Adidasi Pentru Femei',
						content:'Rezistent La Abraziune, Rezistent La Alunecare'
					},{
						url:'https://www.shoestp.com/home/pdt_PdtProduct?cated=380',
						imageUrl:'images/women3.png',
						title:'Sandale Pentru Femei',
						content:'Dinamic și Confortabil'
					}],
					[{
						url:'https://www.shoestp.com/home/pdt_PdtProduct?cated=387',
						imageUrl:'images/children1.png',
						title:'Pantofi Pentru Băieți',
						content:'Rezistent La Abraziune, Rezistent La Alunecare'
					},{
						url:'https://www.shoestp.com/home/pdt_PdtProduct?cated=387',
						imageUrl:'images/children2.png',
						title:'Pantofi Pentru Fete',
						content:'Flexibil, Ușor'
					},{
						url:'https://www.shoestp.com/home/pdt_PdtProduct?cated=387',
						imageUrl:'images/children3.png',
						title:'Sandale Pentru Copii',
						content:'Dinamic, Confortabil'
					}]
				]
			}
		})
	</script>

	<script>
		// 切换语言
		$('.change_lang').hover(function(){
				$(this).find('dd').stop().slideDown(200);
				$(this).find('.icon-arrow').addClass('rotate')
		},function(){
				$(this).find('dd').stop().slideUp(200);
				$(this).find('.icon-arrow').removeClass('rotate')
		})
	</script>

	<!-- 代码追踪 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113892728-1"></script>
	<script>
	    window.dataLayer = window.dataLayer || [];

	    function gtag() {
	        dataLayer.push(arguments);
	    }

	    gtag('js', new Date());

	    gtag('config', 'UA-113892728-1');
	</script>


	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/5b8fcb48f31d0f771d8476f6/default';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
		})();
	</script>
	<!--End of Tawk.to Script-->
</body>

</html>
