<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,
maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="Pantofi de piele pentru bărbați, pantofi pentru bărbați, pantofi pentru bărbați, încălțăminte pentru bărbați, pantofi pentru bărbați,
		sandale pentru copii, încălțăminte pentru bărbați, încălțăminte pentru femei, tocuri pentru femei, sandale doamnelor, firme de încălțăminte, furnizori de încălțăminte Companie,
		producător de pantofi sport, producător chinez de încălțăminte, producător de pantofi sport, fabrică de încălțăminte">
    <meta name="discription" content="Vom deschide o sală de expoziții pentru târgul românesc de achiziții de încălțăminte offline. În acest showroom,
		puteți experimenta sute de stiluri de pantofi în zona locală și puteți cumpăra alegerea încălțămintei direct la prețul fabricii. În plus,
		puteți obține sfaturi profesionale de la personalizare.În această achiziție, vor fi expuse aproape 500 de stiluri diferite de încălțăminte pentru bărbați,
		femei și copii. Dacă rezervați un loc online, veți primi un dar misterios când veți ajunge. Mai multe pantofi gratuite vor fi disponibile la această expoziție.">
    <title>Reuniunea de achiziție offline a încălțămintei din România</title>
    <link rel="stylesheet" href="./css/reset.css" media="all">
    <link rel="stylesheet" href="css/romaina-new.css">
    <link rel="stylesheet" href="./css/index.css" media="all">
    <link rel="stylesheet" href="./css/index-ro.css" media="all">
    <link rel="stylesheet" href="./css/element-ui/element-ui.css">
    <script src="./js/jquery-1.7.2.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/qs.js"></script>
    <script src="./js/element-ui.js"></script>
</head>

<body>
<!-- 语言切换 -->
<dl class="change_lang">
    <dt class="flexible" style="padding: 10px 20px;">
        <img src="./images/two-bar.png" alt="" class="icon-two-bar">
        <div class="flex-grow por">România</div>
        <a href="https://www.shoestp.com/" class="to-home bar-left">
            <img src="./images/icon-home.png" alt="" class="icon-home">
        </a>
    </dt>
    <dd>
        <a href="./romania-index-zh.html">
            <img src="./images/flag-zh.jpg" alt="language to chinese" class="icon-flag">
            中文
        </a>
        <a href="./romania-index-en.html">
            <img src="./images/flag-en.jpg" alt="language to English" class="icon-flag">
            English
        </a>
        <a href="./romania-index-ro.html">
            <img src="./images/flag-ro.jpg" alt="language to românia" class="icon-flag">
            România
        </a>
    </dd>
</dl>

<div id="app">
    <div class="banner_01">
        <div class="w1200 por">
            <a href="https://www.shoestp.com/">
                <img src="./images/logo-and-text.png" alt="logo" class="logo-and-text">
            </a>
        </div>
        <div class="header-text">
            <p class="white-text text-title">
                ADUNARE DE APRECIERE
                <br>
                A MOSTRELOR DE PANTOFI
                <br>
                OFFLINE, ROMANIA
            </p>
            <p class="yellow-text text-slogan">Noua Tendință</p>
            <p class="yellow-text text-slogan">Noul Comerț</p>
            <p class="yellow-text text-slogan">Nouă Eră</p>

            <p class="yellow-text text-time">2018.12.4-2018.12.19</p>
            <p class="yellow-text text-address">Pavilionul Românesc Este Deschis Pe Tot Parcursul Anului</p>
            <p class="white-text text-content">Magazinul Universal Dragonul Roșu Strada <br> Drumul Garii 12,București
                077190</p>
            <a class="btn pointer" style="color: #fff;" @click="getGift">Obțineți Cadouri Surpriză</a>
            <br>
            <a class="btn btn-grey pointer"
               @click="jumpStatistics('https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=373')">Unele
                Previzualizări Ale Produselor</a>
        </div>
    </div>

    <div class="banner_02">
        <div class="yellow_01"></div>
        <div class="yellow_02">
            <div class="block">
                <h2 class="white-text product-title">AFIȘAREA</h2>
                <p class="white-text product-title">PRODUSELOR</p>
                <el-carousel trigger="click" arrow="never">
                    <el-carousel-item v-for="products in productCarousel">
                        <div class="product-image" v-for="(item,index) in products"
                             :class="{'margin_around' : index == 1}">
                            <a :href="item.url" target="_blank">
                                <img :src="item.imageUrl" alt="goods">
                                <p class="pi-title">{{ item.title }}</p>
                                <p class="pi-content">{{ item.content }}</p>
                            </a>
                        </div>
                    </el-carousel-item>
                </el-carousel>
                <a class="btn btn-normal-red" @click="getGift">Obțineți Mostre Gratuite Acum</a>
            </div>
        </div>
    </div>


    <!-- 含手机的 banner 行 -->
    <div class="banner_03">
        <div class="w1200">
            <h1 class="banner-title">Magazin Online De Pantofi</h1>
            <div class="banner-sub-title fs28 tc">Vino la magazinul online pentru a cumpăra pantofii pe care îi vrei.
            </div>
            <div class="flexible flex-between">
                <ul class="ul-wrap fs42">
                    <li class="item">
                        Sunt peste <span class="fs64 color-blue">500</span> de furnizori <br/> de pantofi
                    </li>
                    <li class="item">
                        Sunt disponibile <span class="fs64 color-yellow">500-800</span> stiluri <br> și mostre de
                        pantofi
                    </li>
                    <li class="item">
                        <span class="fs64 color-blue">24</span> hours customer service
                    </li>
                </ul>

                <img src="./images/phone.png" alt="" class="phone-pic">
            </div>
            <div class="tc mt20">
                <a class="btn-normal-red" @click="jumpStatistics('https://www.shoestp.com/')">
                    Răsfoiți Mall-ul
                </a>
            </div>
        </div>
    </div>

    <!-- 含背景logo的 banner 行 -->
    <div class="banner_04">
        <div class="w1200 por">
            <img src="./images/logo.png" alt="" class="bg-logo">
            <div class="flexible flex-start flex-between">
                <div class="pos-left">
                    <h1 class="banner-title tl">Despre Xinlian Industry</h1>
                    <div class="banner-sub-title fs22 tl">O stație o platformă soluția pentru lanțul de încălțăminte
                    </div>
                    <div class="flexible flex-between">
                        <img src="./images/company_01.jpg" class="company-pic-item" alt="company's img_01">
                        <img src="./images/company_02.jpg" class="company-pic-item" alt="company's img_02">
                    </div>
                    <a class="btn-normal-red" @click="getGift">
                        Obțineți Mostre Gratuite Acum
                    </a>
                </div>

                <div class="pos-right">
                    <div class="right-title fs30">Scurtă prezentare despre interprindere</div>
                    <div class="fs20">Wenzhou Xinlian Industrial Co., Ltd. a fost înființată în anul 2015 și este situat
                        în Wenzhou, care este cunoscut sub numele de "China Shoes Capital". Orașul Wenzhou, împreună cu
                        lunga istorie a dezvoltării industriei de încălțăminte, au dat naștere unor furnizori excelenți
                        de încălțăminte pentru comerțul exterior.Wenzhou Xinlian Industrial Co., Ltd a devenit prima
                        soluție la nivel mondial pentru lanțul de încălțăminte datorită modelului său unic de afaceri
                        B2B2C.
                    </div>
                    <div class="flexible flex-between">
                        <img src="./images/company_03.jpg" class="company-pic-item" alt="company's img_03">
                        <img src="./images/company_04.jpg" class="company-pic-item" alt="company's img_04">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 含4个重点的 banner 行 -->
    <div class="banner_05">
        <div class="w1200">
            <h1 class="banner-title">
                Xinlian Industry Vă Va Ajuta Să
                <br>
                Câștigați Cvantajul Și Să Vă Depășiți Colegii!
            </h1>

            <div class="bg por">
                <div class="flexible flex-start flex-between">
                    <div class="pos-left">
                        <div class="left-item">
                            <div class="flexible flex-between">
                                <h2 class="blue-title fs36">CONSULTAŢIE</h2>
                                <div class="icon-wrap icon-chart">
                                    <img class="icon" src="./images/icon-chart.png" alt="icon-chart">
                                </div>
                            </div>

                            <div class="sub-title fs22">
                                Odată ce vă cunoaștem cerințele, vom colabora cu dvs. pentru a dezvolta un proces de
                                producție pas cu pas pentru a vă asigura că beneficiați de cea mai bună experiență de
                                servicii și de prețuri la produse.
                            </div>
                            <ul class="ul-wrap fs24">
                                <li class="item">
                                    Linia telefonică de asistență este disponibilă permanent, 24 de ore/zi.
                                </li>
                                <li class="item">
                                    Furnizați sfaturi profesionale pe baza nevoilor dvs. pentru a vă asigura că puteți
                                    găsi pantofii pe care îi doriți cel mai mult.cele mai bune pantofi.
                                </li>
                            </ul>
                        </div>

                        <div class="left-item">
                            <div class="flexible flex-between">
                                <h2 class="blue-title fs36">PRODUCȚIA</h2>
                                <div class="icon-wrap icon-menu">
                                    <img class="icon" src="./images/icon-menu.png" alt="icon-menu">
                                </div>
                            </div>

                            <div class="sub-title fs22">
                                Ne străduim să perfecționăm fiecare pereche de pantofi. Șlefuirea, lustruirea și
                                polizarea, fiecare proces are o persoană dedicată responsabilă pentru inspecția
                                continuă.
                            </div>
                            <ul class="ul-wrap fs24">
                                <li class="item">
                                    Testarea produselor conform cerințelor, asigurarea calității
                                </li>
                                <li class="item">
                                    Sub premisa asigurării calității, prețul de vânzare direct din fabrică vă va
                                    maximiza profiturile.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="pos-right">
                        <div class="right-item">
                            <div class="flexible flex-between por">
                                <div class="icon-wrap icon-safe">
                                    <img class="icon" src="./images/icon-safe.png" alt="icon-safe">
                                </div>
                                <h2 class="blue-title fs36">CONTROLUL CALITĂȚII</h2>
                            </div>
                            <div class="sub-title fs22">
                                Pentru Xinlian Industry, calitatea este sufletul, avem un sistem strict și eficient de
                                control al calității.
                            </div>
                            <ul class="ul-wrap fs24">
                                <li class="item">
                                    Inspectori cu experiență fac verificări la toate nivelurile
                                </li>
                                <li class="item">
                                    Sistem de control strict al calității
                                </li>
                                <li class="item">
                                    Se asigură că fiecare detaliu al fiecărei perechi de pantofi este asigurat prin
                                    diferite teste chimice și fizice de pe piețele majore.
                                </li>
                            </ul>
                        </div>

                        <div class="right-item">
                            <div class="flexible flex-between por">
                                <div class="icon-wrap icon-design">
                                    <img class="icon" src="./images/icon-design.png" alt="icon-design">
                                </div>
                                <h2 class="blue-title fs36">DESIGN</h2>
                            </div>
                            <div class="sub-title fs22">
                                Mulți designeri cu experiență în design internațional, cu peste 2000 de actualizări în
                                fiecare an, care vă vor ajuta să înțelegeți cele mai recente tendințe ale modei la nivel
                                global.
                            </div>
                            <ul class="ul-wrap fs24">
                                <li class="item">
                                    Serviciu profesional personalizat pentru a vă asigura că obțineți pantofi excelenți;
                                </li>
                                <li class="item">
                                    Designerii experimentați vă vor oferi mai multe sfaturi practice și excelente.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <a href="https://www.shoestp.com/home/usr_UsrPurchase_sign" target="_blank" class="btn-normal-red">
                    Înregistrați-vă Acum
                </a> -->
            </div>
        </div>
    </div>

    <!-- 工厂实拍的 banner 行  -->
    <div class="banner_06">
        <div class="w1200">
            <h1 class="banner-title">Prezentarea Furnizorului De Partener</h1>
        </div>
        <div class="company-pics-wrap flexible flex-between">
            <img src="./images/work-shop_01.jpg" alt="work shop's show" class="pic-item">
            <img src="./images/work-shop_02.jpg" alt="work shop's show" class="pic-item">
            <img src="./images/work-shop_03.jpg" alt="work shop's show" class="pic-item">
            <img src="./images/work-shop_04.jpg" alt="work shop's show" class="pic-item">
        </div>
        <div class="tc">
            <a class="btn-normal-red" @click="getGift">
                Obțineți Mostre Gratuite
            </a>
        </div>
    </div>

    <!-- 展示厅实拍的 banner 行  -->
    <div class="banner_07 por ">
        <img src="./images/show-room.jpg" alt="show's room" class="show-room-pic">
        <div class="w1200 flexible flex-end">

            <div class="right-content-wrap">
                <div class="right-title fs50">Pavilionul Românesc</div>
                <ul class="ul-wrap fs32">
                    <li class="item">
                        Puteți experimenta mai mult de 100 de pantofi de calitate la fața locului.
                    </li>
                    <li class="item">
                        Platformă verticală fiabilă pentru vânzări directe din fabrică
                    </li>
                    <li class="item">
                        Consultanță profesională personalizată pentru servicii
                    </li>
                </ul>
                <div>
                    <a class="btn-normal-red" @click="getGift">
                        Rezervați-vă Locurile
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 地图 -->
    <div class="banner_08" style="">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5693.8067835435595!2d26.173309385776506!3d44.47615296998695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1f9ac606033e3%3A0x7d391e85ce7a445b!2z5Lit5Zu957qi6b6Z5biC5Zy6!5e0!3m2!1szh-CN!2s!4v1541639443813"
                class="map-wrap" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <!-- 地址详情 -->
    <div class="banner_09 fs30">
        <div class="w1200">
            <h1 class="banner_09-title fs52">
                ADRESA ȘI DATE DE CONTACT ALE
                <br>
                CAMEREI DE COMERȚ DIN ROMÂNIA
            </h1>
            <div class="flexible flex-between flex-start">
                <ul class="pos-left">
                    <li class="item">
                        <span class="title">Persoana De Contact：</span>
                        <span>Romanesc</span>
                    </li>
                    <li class="item">
                        <span class="title">Webite:</span>
                        <span>https://www.shoestp.com/m/romania/</span>
                    </li>
                    <li class="item">
                        <span class="title">Telefon：</span>
                        <span>0762 900 529</span>
                    </li>
                    <li class="item">
                        <span class="title">WhatsApp：</span>
                        <span>+40 762 900 529</span>
                    </li>
                </ul>

                <ul class="pos-right">
                    <li class="item">
                        <span class="title">Adresa Pavilionului：</span>
                        <br>
                        <span>Universal Dragon Red Shop
						<br>
						Strada Drumul Garii 12, Bucharest
						<br>
						077190</span>
                    </li>
                </ul>
            </div>

            <ul class="pos-bottom">
                <li class="item flexible flex-start">
                    <span class="title">Adresa E-mail：</span>
                    <span>544414672@qq.com (în limba română service)
						<br>
						marketing@shoestp.com (English service)</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="banner_10">
        <div class="w1200 flexible flex-between">
            <ul class="ul-wrap fs34">
                <li class="item">
                    Mai multe selecții de pantofi.
                </li>
                <li class="item">
                    Expoziție locală de pantofi la modă.
                </li>
                <li class="item">
                    Vânzare directă la prețul din fabrică, experiența serviciilor locale.
                </li>
            </ul>

            <div class="form-box flexible flex-column flex-center">
                <h2 class="form-title fs50">
                    Nevoile Dvs. De
                    <br>
                    Afaceri Sunt Unice?
                </h2>

                <div class="form-content fs24">
                    Să vă ajutăm să satisfaceți aceste nevoi!
                    <br>
                    Contactați-ne pentru a obține imediat mostre gratuite.
                </div>

                <a class="btn-normal-red" @click="getGift">
                    Rezervați-vă Locurile
                </a>
            </div>
        </div>
    </div>


    <!-- form弹框 -->
    <transition name="el-fade-in-linear">
        <div class="modal-wrap" v-show="isFormShow || isTipDialogShow" v-cloak @mousewheel.prevent>
            <transition name="el-fade-in-linear">
                <div class="modal-inner-box" v-show="isFormShow">
                    <img src="./images/close-black.png" alt="button to close the form" class="btn-close"
                         @click="isFormShow = false">
                    <div class="form-title">
                        2018 MOSTRELOR DE
                        <br>
                        PANTOFI OFFLINE,ROMANIA
                    </div>
                    <el-form ref="form" :model="form" label-width="80px" label-position="top" size="small">
                        <el-form-item label="A lua legatura:" class="required-label">
                            <el-input v-model="form.name" placeholder="lasă - ţi numele"></el-input>
                        </el-form-item>

                        <el-form-item label="Statul" class="required-label">
                            <el-select v-model="form.country">
                                <el-option value="-1" label="Te rog alege ţara ta"></el-option>
                                <el-option v-for="country in countryList" :key="country.id" :label="country.name"
                                           :value="country.id"></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="Telefon:" class="required-label">
                            <el-input v-model="form.tel"
                                      placeholder="vă rog introduceţi numărul de telefon."></el-input>
                        </el-form-item>

                        <el-form-item label="Email:" class="required-label">
                            <el-input v-model="form.email" placeholder="te rog intră în cutia ta poştală"></el-input>
                        </el-form-item>

                        <el-form-item label="Anchetă:">
                            <el-input type="textarea" v-model="form.inquiry"
                                      placeholder="vă rog să introduceţi informaţii"></el-input>
                        </el-form-item>


                        <div class="tc">
                            <el-button type="danger form-button" @click="formSubmit">Submit</el-button>
                        </div>

                        <div class="tips">
                            Completați și trimiteți formularul, vă vom prezenta un cadou.misterios în sala de expoziții
                            offline din România!Sau puteți completa nevoile dvs. în coloana de remarci, personalul
                            nostru va lua legătura cu dvs. în prima dată!Vă mulțumim că ați venit, vă vom oferi cele mai
                            bune servicii!
                        </div>
                    </el-form>
                </div>
            </transition>

            <!-- 提示弹窗 -->
            <transition name="el-fade-in-linear">
                <div class="model-confirm" v-show="isTipDialogShow">
                    <div class="close-wrap">
                        <img src="./images/close-red.png" alt="close" class="close" @click="isTipDialogShow=false">
                    </div>
                    <div class="model-confirm-content flexible flex-center">
                        <img src="./images/right-red.png" alt="right" class="icon">
                        <div>
                            A depune
                            <br>
                            Cu succes!
                        </div>
                    </div>
                    <div class="model-confirm-footer" @click="isTipDialogShow = false">
                        A determina
                    </div>
                </div>
            </transition>
        </div>
    </transition>


</div>

<script>
    new Vue({
        el: '#app',
        data: {
            isFormShow: false, //是否显示弹窗
            isTipDialogShow: false, //是否显示提示弹窗
            countryList: [], //国家列表
            form: {
                country: "-1"
            }, //form提交的内容
            productCarousel: [
                [{
                    url: 'https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=373',
                    imageUrl: 'images/men1.png',
                    title: 'Pantofi Din Piele Maturi, Echilibrați',
                    content: 'De Lux Și Cu Preț Scăzut Pentru Bărbați'
                }, {
                    url: 'https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=373',
                    imageUrl: 'images/men2.png',
                    title: 'Adidași Pentru Bărbați',
                    content: 'Ușori & Sportivi'
                }, {
                    url: 'https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=373',
                    imageUrl: 'images/men3.png',
                    title: 'Pantofi Casual Pentru Bărbați',
                    content: 'Confortabili & Casual '
                }],
                [{
                    url: 'https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=380',
                    imageUrl: 'images/women1.png',
                    title: 'Pantofi Cu Toc Pentru Damă',
                    content: 'Maturi & Eleganți'
                }, {
                    url: 'https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=380',
                    imageUrl: 'images/women2.png',
                    title: 'Adidași Pentru Damă',
                    content: 'Tineri & Ușori & Sportivi'
                }, {
                    url: 'https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=380',
                    imageUrl: 'images/women3.png',
                    title: 'Sandale Pentru Damă',
                    content: 'Modă & Confort'
                }],
                [{
                    url: 'https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=387',
                    imageUrl: 'images/children1.png',
                    title: 'Pantofi Pentru Băieței',
                    content: 'Confortabili & Rezistenți'
                }, {
                    url: 'https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=387',
                    imageUrl: 'images/children2.png',
                    title: 'Pantofi Pentru Fetițe',
                    content: 'Sportivi & Confortabili'
                }, {
                    url: 'https://www.shoestp.com/home/usr_UsrSupplier_gtSupGroup?pkey=262&cat=387',
                    imageUrl: 'images/children3.png',
                    title: 'Sandale Pentru Copii',
                    content: 'Relaxante & Confortabile'
                }]
            ]
        },

        mounted() {
            axios.get('/home/plt_PltCountry_list?lang=en')
                .then((res) => {
                    if (res.data.ret == 1) {
                        this.countryList = res.data.result
                    }
                })
                .catch(function (err) {
                    console.log("err");
                });
        },

        methods: {
            // 点击获取礼物 - 弹出form框
            getGift() {
                this.isFormShow = true;
                // 统计代码
            },
            // 跳转统计
            jumpStatistics(url) {
                // 统计代码
                window.location = url;

            },
            formSubmit() {
                console.log(this.form.name)
                if (!this.form.name || this.form.name == "") {
                    this.$message.error('Introduceți numele dvs.');
                    return;
                } else if (!this.form.country || this.form.country == -1) {
                    this.$message.error('Selectați țara dvs.');
                    return;
                } else if (!this.form.tel || this.form.tel == "") {
                    this.$message.error('Introduceți numărul dvs. de telefon');
                    return;
                } else if (!(/^\d{1,}$/.test(this.form.tel))) {
                    this.$message.error('Eroare de format de număr de telefon');
                    return;
                } else if (!this.form.email || this.form.email == "") {
                    this.$message.error('Introduceți adresa dvs. de e-mail');
                    return;
                } else if (!(/[\w]+(\.[\w]+)*@[\w]+(\.[\w])+/.test(this.form.email))) {
                    this.$message.error('Format incorect de cutie poștală');
                    return;
                }
                axios.post('/home/ActivitySignIn_ActivitySignIn_signIn', Qs.stringify({
                    name: this.form.name,
                    country: this.form.country,
                    tel: this.form.tel,
                    email: this.form.email,
                    inquiry: this.form.inquiry
                }, {allowDots: true}))
                    .then((res) => {
                        gtag_report_conversion()
                        if (res.data.ret == 1) {
                            this.form = {};
                            this.isFormShow = false;
                            this.isTipDialogShow = true;
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            }
        }
    })
</script>

<script>
    // 切换语言
    $('.change_lang').hover(function () {
        $(this).find('dd').stop().slideDown(200);
        $(this).find('.icon-arrow').addClass('rotate')
    }, function () {
        $(this).find('dd').stop().slideUp(200);
        $(this).find('.icon-arrow').removeClass('rotate')
    })
</script>

<!-- 代码追踪 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-783435725"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'AW-783435725');
        gtag('config', 'UA-127715615-6')

</script>

<!-- Event snippet for 提交表单 conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
    function gtag_report_conversion(url) {
        var callback = function () {
            if (typeof(url) != 'undefined') {
                window.location = url;
            }
        };
        gtag('event', 'conversion', {
            'send_to': 'AW-783435725/2sU4CMb_io8BEM2PyfUC',
            'event_callback': callback
        });
        return false;
    }
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5b8fcb48f31d0f771d8476f6/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
</body>

</html>
