@charset 'utf-8';
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-family: Arial;
}
body{
  width:100%;
  margin:0 auto;
  line-height: initial;
  font-family: Arial;
}
a{
  text-decoration: none;
}
button{
  border: none;
}
li{
  list-style: none;
}
input{
  border: none;
  outline: none;
}
.cu{
  cursor: pointer;
}
.block{
  display: block;
}
.clearfloat::after{
  content: '';
  display: block;
  clear: both;
}

.mw_300{
  max-width: 160px;
  overflow: hidden;
  display: inline-block;
  flex-grow: 1;
}

.clearfloat{
  zoom:1;
}
#wmshoes{
  .con{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 1350px;
    .nav,.points,.boot,.footmsg{
      width: 1250px;
      margin: 0 auto;
    }
  }
  .banner{
    background-image: url('../images/bannerback.png');
    text-align: center;
    padding-bottom: 290px;
    .nav{
      padding: 35px 0 200px;
      height: 335px;
      display: flex;
      align-items: center;
      img[name=logo]{
        width: 211px;
        margin-right: 29px;
      }
      .navtitle{
        width: 200px;
        height: 54px;
        border-radius: 27px;
        text-align: center;
        line-height: 54px;
        font-size: 18px;
        color: white;
        margin-right: 21px;
        &:hover{
          background-color: white;
          color: rgb(76, 109, 170);
        }
      }
      .search{
        width: 400px;
        margin: 0 23px 0 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 16px;
        color: #ffc13f;
        border-right: 1px solid white;
        input{
          width: 155px;
          height: 30px;
          margin-left: 10px;
          transition: all 0.5s ease;
          text-indent: 0.6em;
        }
        .noinput{
          width: 0;
        }
        img{
          padding: 0 25px 0 10px;
        }
      }
      .fx{
        width: 190px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
    img[name=banner]{
      width: 740px;
    }
    .rfq{
      width: 238px;
      height: 61px;
      margin: 0 auto;
      background: linear-gradient(to right, rgb(255, 198, 69), rgb(255, 213, 106));
      box-shadow: 0px 5px 10px 0px rgba(255, 227, 74, 0.5);
      border-radius: 31px;
      text-align: center;
      line-height: 61px;
      color: #fff;
      font-size: 36px;
      margin-top: 69px;
    }
  }
  .point3{
    .points{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: -80px;
      margin-bottom: 125px;
      .point{
        width: 360px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 6px 16px 0px rgba(27, 48, 85, 0.25);
        border-radius: 10px;
        background-color: #fff;
        img{
          width: 80px;
          margin: 66px 0 41px;
        }
        h3{
          font-size: 18px;
          color: #222222;
          margin-bottom: 25px;
        }
        p{
          width: 268px;
          text-align: left;
          font-size: 15px;
          line-height: 25px;
          color: #6e8391;
        }
        a{
          align-self: flex-start;
          font-size: 16px;
          margin-top: 15px;
          margin-left: 47px;
          text-decoration: underline;
          color: #7176fe;
        }
        &:nth-child(3){
          p{
            text-indent: -0.4em;
          }
        }
      }
    }
  }
  .boots{
    .boot{
      margin-bottom: 100px;
      > h2{
        font-size: 43px;
        color: #1c2e47;
        text-align: center;
        margin-bottom: 5px;
      }
      > h3{
        font-size: 24px;
        font-weight: normal;
        color: #533db7;
        opacity: 0.4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 58px;
        a{
          display: inline-block;
          width: 77px;
          height: 27px;
          text-align: center;
          background: linear-gradient(-35deg, rgb(255,186,52), rgb(255,219,108));
          border-radius: 4px;
          font-size: 12px;
          color: #ffffff;
          line-height: 27px;
          margin: 0 6px;
        }
      }
      .shoes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .shoe{
          width: 388px;
          height: 541px;
          background-color: #ffffff;
          box-shadow: 0px 1px 20px 0px rgba(83, 61, 183, 0.2);
          border-radius: 10px;
          padding: 45px 45px 40px 45px;
          position: relative;
          overflow: hidden;
          .imgcon{
            width: 100%;
            height: 261px;
            margin-bottom: 16px;
            > img{
              max-width: 100%;
              max-height: 100%;
            }
          }
          > h3{
            font-size: 24px;
            font-weight: normal;
            line-height: 40px;
            color: #b0b0b0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            height:80px;
          }
          > h4{
            font-size: 40px;
            font-weight: normal;
            color: #e54544;
            margin-top: 30px;
          }
          > p{
            font-size: 24px;
            color: #b0b0b0;
          }
          .shoehover,.imgcon2{
            position: absolute;
            top: 541px;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.7s ease;
          }
          .shoehover{
            background-color: #3a57c5;
            border-radius: 10px;
            opacity: 0.8;
            z-index: 99;
            > h3{
              padding: 48px 45px 0 45px;
              font-size: 24px;
              line-height: 30px;
              height: 110px;
              color: #b0b0b0;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              margin-bottom: 30px;
            }
            > h4{
              padding: 0 45px 0 45px;
              font-size: 40px;
              color: #ffcd34;
            }
            >p{
              font-size: 24px;
              color: #ffffff;
              opacity: 0.5;
              padding: 10px 45px 0 45px;
            }
            > a{
              display: inline-block;
              width: 349px;
              height: 68px;
              text-align: center;
              line-height: 68px;
              background: linear-gradient(-35deg, #ffba34, #ffdb6c);
              border-radius: 10px;
              font-size: 24px;
              color: #ffffff;
              margin: 230px 20px 0;
            }
          }
          .imgcon2{
            background-color: white;
            > img{
              position: absolute;
              width: 298px;
              height: 261px;
              left: 45px;
              top: 210px;
            }
          }
          &:hover{
            .shoehover{
              top: 0;
            }
            .imgcon2{
              top: 0;
            }
          }
        }
      }
      .more{
        width: 100%;
        text-align: right;
        margin-top: 37px;
        font-size: 18px;
        color: #7176fe;
        text-decoration: underline;
      }
    }
  }
  .aboutcon{
    margin-bottom: 85px;
    color: white;
    text-align: right;
    .aboutus{
      display: flex;
      justify-content: center;
      img{
        width: 575px;
        height: 524px;
      }
      .msg{
        width: 429px;
        padding-right: 37px;
        background: linear-gradient(80deg, rgb(51,61,167), rgb(84,121,216));
        > h4{
          font-size: 14px;
          margin-top: 83px;
          > div{
            display: inline-block;
            width: 15px;
            height: 100%;
          }
        }
        > h2{
          font-size: 53px;
          margin-top: 19px;
        }
        > h3{
          font-size: 32px;
          margin-top: -3px;
          font-weight: normal;
        }
        > p{
          padding-left: 57px;
          margin-top: 30px;
          font-size: 13px;
          opacity: 0.5;
          line-height: 23px;
        }
      }
    }
  }
  .shoesfoot{
    background-color: rgb(76, 108, 167);
    text-align: center;
    color: #fff;
    padding-bottom: 120px;
    .footmsg{
      > h2{
        font-size: 50px;
        padding-top: 125px;
      }
      > p{
        width: 1106px;
        margin: 0 auto;
        font-size: 18px;
        text-align: left;
        padding-top: 35px;
        line-height: 25px;
        a{
          text-decoration: underline;
          font-size: 18px;
          color: #ffdb6c;
          margin-left: 10px;
        }
      }
      > div{
        width: 238px;
        height: 61px;
        line-height: 61px;
        margin: 0 auto;
        margin-top: 70px;
        border-radius: 31px;
        background: linear-gradient(-35deg, #ffba34, #ffdb6c);
      }
    }
  }
}
