<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-quiv="X-UA-Compatible" content="IE=edge">
	<title>Index</title>
	<link rel="stylesheet" href="css/pc-index.css">
	<script src="./js/axios.js"></script>
	<script src="./js/vue.js"></script>
	<script src='./js/qs.js'></script>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<title>外贸PK</title>
</head>
<body>
	<div id="pcmain">
		<div class="mainpc">
			<img class="backimg" src="imgs/backimg.png" alt="">
			<div class="pcprogress">
				<img class="imgtitle" src="imgs/pcpk1.png" alt="">
				<div class="imgscon clearfloat">
					<img v-for="item,index in imgscon" :src="item.imgsurl" :alt="item.title" @mouseover="pindex = index">
				</div>
				<p v-for="item,index in ps" v-show="index == pindex">{{item}}</p>
			</div>
			<div class="pcpurpose">
				<img class="imgtitle" src="imgs/pcpk9.png" alt="">
				<ul class="pcon clearfloat">
					<li class="purposep">
						<h4>挖掘、培养鞋企外贸电商人才</h4>
						<p>此次活动旨在帮助企业培养一批具有自主接单能力的电商人才，让企业实现利用互联网自主接单，跳过中间商，从而为企业创造更大的利润空间。同时也为今后的线上营销作相应的人才储备。</p>
					</li>
					<img src="imgs/pcpk12.png" alt="">
					<li class="purposep">
						<h4>企业抱团出海，打造群体品牌</h4>
						<p>本次参加活动的企业将会以鞋贸港平台整体形象出现在海外买家面前，旨在打造温州鞋产业带整体品牌形象。企业以抱团的形式出海，更易获得买家青睐、收获订单。同时，群体品牌的沉淀也可以为未来企业的产品在跨国贸易中获得更高的附加值。 </p>
					</li>
					<img src="imgs/pcpk12.png" alt="">
					<li class="purposep">
						<h4>助力出口数据的增长</h4>
						<p>通过新的线上渠道帮助企业在互联网时代接到更多的精准匹配的订单， 拓宽业务渠道，提升企业总体销售额。同时，以往企业通过中间商接单，创造的出口产值数据直接被带到中间商所在地。通过对鞋企的培养和孵化，企业最终能够实现利用平台自主接单，创造的产值数据就能完完整整留在本区。</p>
					</li>
				</ul>
				<div class="purposecon">
					<img src="imgs/pcpk10.png" alt="">
					<div class="forwhy">
						<h3>为何选择参加这个比赛？</h3>
						<p>参加比赛，您将获得：<br>1，谷歌实操询盘；<br>2，新联鞋贸港套餐使用权；<br>3，还有丰富的个人奖金奖励哦！</p>
					</div>
					<div class="forwhy">
						<h3>参加比赛报名费<br>和其他费用是多少呢？</h3>
						<p>无需费用，零成本参赛！</p>
					</div>
					<div class="forwhy">
						<h3>电商推广难？不擅长店铺运营？</h3>
						<p>遇到了问题，统统都无需担心。<br>在这里，鞋贸港将竭诚为您提供<br>资深推广优化师、顶级电商培训导师<br>专业、全面的为您解决所以困难!</p>
					</div>
				</div>
			</div>
			<div class="joinus">
				<img class="imgtitle" src="imgs/pcpk11.png" alt="">
				<p class="tixing">请认真填写报名信息我们会第一时间与您联系</p>
				<div class="joinfrom">
					<el-form label-position="left" label-width="27%" :model="userdata" :rules="rules" ref="form">
						<el-form-item label="姓名：" prop="Name">
							<el-input v-model="userdata.Name" name="Name"></el-input>
						</el-form-item>
						<el-form-item label="电话：" prop="Tel">
							<el-input v-model="userdata.Tel" name="Tel"></el-input>
						</el-form-item>
						<el-form-item label="企业名称：" prop="companyName">
							<el-input v-model="userdata.companyName" name="companyName"></el-input>
						</el-form-item>
						<el-form-item label="企业邮箱：" prop="Email">
							<el-input v-model="userdata.Email" name="Email"></el-input>
						</el-form-item>
						<el-button type="primary" @click="resetForm">提交</el-button>
					</el-form>
				</div>
				<p class="phone">咨询热线：15058751461</p>
				<div class="pcmessage">
					<p class="msg"><span class="dot"></span>大赛主题：新联杯外贸pk赛</p>
					<p class="msg"><span class="dot"></span>报名时间：2018年11月8日-11月30日</p>
					<p class="msg"><span class="dot"></span>主办单位：温州新联实业股份有限公司</p>
					<p class="msg"><span class="dot"></span>协办单位：谷歌中国、瓯海鞋革协会、温州市跨境电商协会、温州市外贸企业协会</p>
				</div>
			</div>
		</div>
		<iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
	</div>
	<script>

        new Vue({
			el:'#pcmain',
			data:{

				pindex:0,
				userdata:{
					Name:'',
					Tel:'',
					companyName:'',
					Email:''
				},

				imgscon:[
					{
						title:'企业报名',
						imgsurl:'imgs/pcpk2.png'
					},
					{
						title:'启动仪式',
						imgsurl:'imgs/pcpk3.png'
					},
					{
						title:'培训',
						imgsurl:'imgs/pcpk4.png'
					},
					{
						title:'大赛进行',
						imgsurl:'imgs/pcpk5.png'
					},
					{
						title:'评审环节',
						imgsurl:'imgs/pcpk6.png'
					},
					{
						title:'颁奖典礼',
						imgsurl:'imgs/pcpk7.png'
					},
					{
						title:'宣传推广',
						imgsurl:'imgs/pcpk8.png'
					}
				],
				ps:[
					'报名时间：2018年11月8日-11月30日\n由新联实业鞋贸港市场部相关人员通过电话，微信，实地拜访等各种方式招募鞋企参加此次活动，计划招募80-200家鞋企报名，最后通过考核淘汰择优录取30至50家鞋企正式参赛。\n招募过程中会向企业说明，此次活动是由新联实业和温州鞋革协会、温州跨境电商协会、温州市外贸企业协会联合发起，通过此次活动，鞋企将得到专业的电商技能培训，获得由新联实业提供的推广经费，同时比赛结束新联实业与各大协会将为获奖企业与个人予以一定的物质、精神奖励。',
					//-------------------------------------------------//
					'为了调动参赛企业的参赛热情，营造“战争”的氛围，从而促进企业与企业之间，优秀带动优秀，成功带动成功，激励人心，挖掘潜能，赢得成长！\n1、拓展教练进行对参赛企业做赛前训练\n2、分阵营，公布PK赛制\n3、喊口号、定目标，制作战斗日志；挂战旗，下挑战书\n4、领导寄语',
					//-------------------------------------------------//
					'时间：2018年12月初－12月底\n培训分三个部分，第一部分是关于鞋贸港平台的实操使用，此部分将由新联鞋贸港派专门的技术人员进行授课，如何优化网站内容，凸显企业及产品优势，力求吸引更多的海外买家和优质订单。\n第二部分是关于谷歌推广，由新联实业外聘谷歌讲师进行授课，现场教授如何利用Google AdWords对网站进行引流，谷歌实操会在整个比赛进行过程中分阶段进行，从引流，数据分析及优化再投放阶梯式的帮助企业获得更多的优质询盘。\n第三部分是外贸业务培训，由新联实业外聘资深外贸讲师，分享如何筛选客户，跟进询盘，转化订单。',
					//-------------------------------------------------//
					'时间：2018年12月1号-2019年1月10号\n参赛选手运用培训时学到的技能，运用我们发放的推广基金在各自所属企业进行正式比赛，根据订单金额、询盘数量、总曝光的指标评定出活动获奖企业及个人。新联实业将由市场运营部相关人员通过电话，实地拜访等方式追踪每家企业选手比赛进度，并对其产生的问题及时解答。',
					//-------------------------------------------------//
					'时间：2019年1月14日-2019年1月17日\n在2018年11月底成立评审委员会（评审人员待定），完成评审标准的制定。2019年1月14日－2019年1月17日号评审委员会根据评审标准对所有参赛选手在比赛期间的表现以及最终产生的结果进行打分评审，根据订单金额、询盘数量、总曝光设定最佳阵营奖，最佳企业奖，最佳个人奖。',
					//-------------------------------------------------//
					'时间：2019年1月18号\n一等奖：所在企业奖励鞋贸港45800套餐使用权一年，参赛个人奖励现金5000元\n二等奖：所在企业奖励鞋贸港12800套餐使用权一年，参赛个人奖励现金3000元\n三等奖：所在企业奖励鞋贸港12800套餐使用权半年，参赛个人奖励现金1000元\n具体参加PK赛赛制',
					//-------------------------------------------------//
					'1、邀请我们合作的媒体温州新闻、温州经济、温州柒零三等等对启动仪式以及颁奖典礼当天的盛况进行报道\n2、新联自媒体的推广'
				]
			},
			methods:{
				resetForm:function() {
					var regEmail = new RegExp('.+@[a-z0-9]+\.com$')
					var regTel = new RegExp('[0-9]{6,}')
					if(!this.userdata.Name){
						this.$message({
							message: '姓名不能为空',
							type: 'warning'
					    })
					    return false;
					}
					if(!this.userdata.Tel){
						this.$message({
							message: '联系方式不能为空',
							type: 'warning'
					    })
					    return false;
					}else if(!regTel.test(this.userdata.Tel)){
						this.$message({
							message: '联系方式格式错误',
							type: 'warning'
					    })
					    return false;
					}
					if(!this.userdata.companyName){
						this.$message({
							message: '公司名称不能为空',
							type: 'warning'
					    })
					    return false;
					}
					if(!this.userdata.Email){
						this.$message({
							message: '邮箱不能为空',
							type: 'warning'
					    })
					    return false;
					}else if(!regEmail.test(this.userdata.Email)){
						this.$message({
							message: '邮箱格式错误',
							type: 'warning'
					    })
					    return false;
					}
					var self = this;
					// axios.post('http://192.168.1.48:889/mock/5b9b14aa87c0c20021a31546/example/ActivitySignIn_ActivitySignIn_signInPk',
					axios.post('/home/ActivitySignIn_ActivitySignIn_signInPk',
						Qs.stringify(
							{
								name: self.userdata.Name,
								tel:self.userdata.Tel,
								email:self.userdata.Email,
								companyname:self.userdata.companyName
							}
						)
					).then(function (res) {
						self.$message({
							message: '提交成功',
							type: 'success'
					    })
						setTimeout(function(){
							for (var i in self.userdata) {
								self.userdata[i]='';
							}
						},3000)
					}).catch(function() {
						console.log(res)
					});
				}
			}
		})
	</script>
</body>
</html>
