<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>JIANSHA</title>
    <script src="js/vue.js"></script>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="css/jiansha.css">
    <script src="js/axios.js"></script>
    <script src="js/qs.js"></script>
</head>
<body>
<div id="yilizhou">
    <div class="header">
        <img src="images/JS-header.png" name="background"/>
        <div class="writer">
            <div class="writer-content">
                <img src="images/JS-logo.png" name="yilizhou"/>
                <h2 class="wc-h2">It is not only a shoe</h2>
                <p class="wc-p">but also an excellent design SWORD SHARK SHOES</p>
                <a href="javascript:void(0);" class="button" @click="inquiryNow">Inquiry Now</a>
            </div>
        </div>
    </div>
    <div class="banner_01">
        <div class="detail">
            <div class="detail-img">
                <img src="images/detail-01.png" name="detail-01"/>
            </div>
            <div class="detail-text">
                <h2>Market coverage of more than 15 European countries and regions</h2>
                <p>Our main marketing area is west of the Europe, including UK, Ireland, Netherlands, Belgium and France, etc.</p>
            </div>
        </div>
        <div class="detail">
            <div class="detail-img">
                <img src="images/detail-02.png" name="detail-02"/>
            </div>
            <div class="detail-text">
                <h2>7500 square meters manufacturing plant</h2>
                <p>Our manufacturing plant can ensure the production of 120,000 pairs of shoes per month. We have 2 cold sticky production lines and we good at making genui-ne leather.</p>
            </div>
        </div>
    </div>
    <div class="banner_02">
        <img src="images/AboutUs.png" name="AboutUs"/>
        <p>Wenzhou is a amazing city which is known as a land of attractive resources and magical power and a Birthplace of creative minds and gifted talents. China Sword Shark Footwear Co.,Ltd is founded in this land.the company covers an area of ​​5,000 square meters More than 120 employees, with an annual output of 2 million pairs of leather shoes, with an annual output value of nearly 220 million RMB, Sword Shark is a large-scale pillar enterprises of the shoe industry in Wenzhou.</p>
        <p>The concept of Sword Shark is confidence and freedom. We hope that we can create a beautiful future with you.</p>
        <img src="images/Sports&Casual.png" name="sports"/>
        <a href="https://www.shoestp.com/jiansha-durable-soft-genuine-leather-dress-shoes-for-men_p6112.html">
            <img src="images/men-01.png" name="men"/>
        </a>
        <a href="https://www.shoestp.com/jiansha-durable-soft-brown-genuine-leather-dress-shoes-for-men_p6113.html">
            <img src="images/men-02.png" name="men"/>
        </a>
        <a href="https://www.shoestp.com/jiansha-fashion-gentleman-genuine-leather-dress-shoes_p6117.html">
            <img src="images/men-03.png" name="men"/>
        </a>
        <img src="images/Men'sShoes.png" name="mens"/>
        <p class="Shoes">Simple but fashionable, Lightweight, Abrasion-resistant, Slip-resistant, Free flexible.</p>
        <a href="https://www.shoestp.com/jiansha-fashion-gentleman-genuine-leather-punching-blue-dress-shoes_p6120.html">
            <img src="images/women-01.png" name="women"/>
        </a>
        <a href="https://www.shoestp.com/jiansha-gentleman-genuine-leather-punching-casual-dress-shoes_p6124.html">
            <img src="images/women-02.png" name="women"/>
        </a>
        <a href="https://www.shoestp.com/jiansha-fashion-gentleman-genuine-leather-laser-punching-brown-dress-shoes_p6126.html">
            <img src="images/women-03.png" name="women"/>
        </a>
        <img src="images/Women'sShoes.png" name="womens"/>
        <p class="Shoes">Dynamic and comfortable, Stylish, Lightweight, Abrasion-resistant, Slip-resistant.</p>
        <a href="javascript:void(0);" class="button" @click="inquiryNow">Inquiry Now</a>
    </div>
    <div class="banner_03">
        <img src="images/welecome-01.png" style="width: calc(var(--bili) * 386);"/>
        <img src="images/welecome-02.png" style="width: calc(var(--bili) * 270);"/>
        <img src="images/welecome-03.png" style="width: calc(var(--bili) * 400);"/>
        <img src="images/welecome-04.png" style="width: calc(var(--bili) * 230);"/>
        <img src="images/welecome-05.png" style="width: calc(var(--bili) * 209);"/>
        <img src="images/welecome-06.png" style="width: calc(var(--bili) * 232);"/>
        <img src="images/welecome-07.png" style="width: calc(var(--bili) * 204);"/>
        <a href="javascript:void(0);" class="button" @click="inquiryNow">Inquiry Now</a>
    </div>
    <div class="banner_04">
        <img src="images/GetYour.png" style="width: calc(var(--bili) * 472)"/>
        <div class="message">
            <img src="images/arrow.png" style="width: calc(var(--bili) * 50)"/>
            <div class="content">
                <img src="images/CONSULTATION.png" name="content-title"/>
                <p>Once we know your goals, we will set up a step-by-step production process together with you that ensures you get the best deal.</p>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span>24-hour hotline service;</span></p>
                </div>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span>Professional advice about customization service to ensure you get the best sports shoes.</span></p>
                </div>
                <img src="images/message-01.png" name="message"/>
            </div>
        </div>
        <div class="message">
            <img src="images/arrow.png" style="width: calc(var(--bili) * 50)"/>
            <div class="content">
                <img src="images/DESIGN.png" name="content-title"/>
                <p>We have 3 experienced designers who can design more than 1,600 new shoe models every year. Our designers consider themselves footwear fashion artists.</p>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span>Professional customization service to ensure you get awesome sports shoes ;</span></p>
                </div>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span>3 experienced designers will give you more practical and distinguished suggestions;</span></p>
                </div>
                <img src="images/message-02.png" name="message"/>
            </div>
        </div>
        <div class="message">
            <img src="images/arrow.png" style="width: calc(var(--bili) * 50)"/>
            <div class="content">
                <img src="images/MANUFACTURING.png" name="content-title"/>
                <p>Our manufacturing plant has a cementing production line and two injection lines. Throughout the production process, managers in charge of cutting, stitching and lasting check the quality of sports</p>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span>MOQ: 600 pairs per color;</span></p>
                </div>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span>Produce 120,000 pairs of shoes every month;</span></p>
                </div>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span>Available BSIC Audit Report;</span></p>
                </div>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span>Conduct chemical test according to your requirements;</span></p>
                </div>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span>Offer lower price to ensure the maximum profits for your bussiness.</span></p>
                </div>
                <img src="images/message-03.png" name="message"/>
                <img src="images/message-04.png" name="message_04"/>
                <img src="images/message-05.png" name="message_05"/>
            </div>
        </div>
        <div class="message">
            <img src="images/arrow.png" style="width: calc(var(--bili) * 50)"/>
            <div class="content">
                <img src="images/QUALITYCONTROL.png" name="content-title"/>
                <p>men shoes quality is the soul for Sword shark, we have very strong design and manufacturing team, as well as ha-ving strict and effective quality control policy on each stage.</p>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span>8+ experienced quality inspector will ensure your sports shoes' quality;</span></p>
                </div>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span>Strict quality control policy;</span></p>
                </div>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span> Products meet the demands of various chemical and physical testing in main markets.</span></p>
                </div>
                <img src="images/message-06.png" name="message"/>
            </div>
        </div>
        <div class="message">
            <img src="images/arrow.png" style="width: calc(var(--bili) * 50)"/>
            <div class="content">
                <img src="images/DELIVERY.png" name="content-title"/>
                <p>We can guarantee that you will get your orders within two months.</p>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span>Delivery time depends on the shipping distance and may vary;</span></p>
                </div>
                <div class="list">
                    <span class="bot">·</span>
                    <p class="list-p"><span><2 months.</span></p>
                </div>
                <img src="images/message-07.png" name="message"/>
            </div>
        </div>
    </div>
    <div class="banner_05">
        <div class="content">
            <h2>Your Business <br>Needs Are Unique?</h2>
            <p>Let us help you meet those needs! <br>Please contact us and enter the <br>enquiry immediately.</p>
            <a href="javascript:void(0);" class="button" @click="inquiryNow">Inquiry Now</a>
            <p class="contact">
                <img src="images/phone.png" alt="">18356802533 &nbsp;&nbsp; 0577-67371997
            </p>
            <p class="contact">
                <img src="images/email.png" alt="">jiansha@163.com
            </p>
        </div>
    </div>

    <el-dialog title="INQUIRY INFORMATION" :visible.sync="dialogFormVisible" :before-close="closeForm">
        <el-form :model="ruleForm" label-position="top" :rules="rules" ref="ruleForm"  >
            <el-form-item label="Email" prop="email">
                <el-input v-model="ruleForm.email" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Name" prop="name">
                <el-input v-model="ruleForm.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="Inquiry" prop="detail">
                <el-input v-model="ruleForm.detail" type="textarea" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="onSubmit">Inquiry Now</el-button>
        </div>
    </el-dialog>

</div>

<script>
    // 邮箱验证
    let emailRule = (rule, value, callback) => {
        if ( /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/.test(value)) {
            callback()
        } else {
            callback(new Error('Please enter the correct email address'))
        }
    }
    // name验证
    let nameRule = (rule, value, callback) => {
        if (value.length >= 3) {
            callback();
        } else {
            callback(new Error('The user name length is greater than 3'))
        }
    }
</script>
<script>
    new Vue({
        el: '#yilizhou',
        data: {
            dialogFormVisible: false,
            ruleForm:{
                email:'',
                name:'',
                detail:''
            },
            rules: {
                name: [
                    { required: true, message: 'The user name must be entered', trigger: 'blur' },
                    { validator: nameRule, trigger: 'blur' }
                ],
                email: [
                    { required: true, message: 'You have to fill in the mailbox', trigger: 'blur' },
                    { validator: emailRule, trigger: 'blur' }
                ],
                detail: [
                    { required: true, message: 'You have to fill in the inquiry', trigger: 'blur' }
                ]
            }
        },
        methods: {
            inquiryNow: function () {
                this.dialogFormVisible = true
            },
            closeForm: function () {
                this.dialogFormVisible = false;
                this.$refs['ruleForm'].resetFields();
                this.ruleForm.name = '';
                this.ruleForm.email = '';
                this.ruleForm.detail = '';
            },
            onSubmit: function () {
                var self = this;
                this.$refs.ruleForm.validate((valid) =>{
                    if (valid) {
                        axios.post('/home/Activity_Romania_inquiry',
                            Qs.stringify({
                                supId: 279, // 浙江剑鲨鞋业有限公司
                                name: self.ruleForm.name,
                                email: self.ruleForm.email,
                                detail: self.ruleForm.detail
                            })
                        ).then((res) => {
                            if (res.data.ret == 1) {
                                self.$message({
                                    message: 'submit successfully!',
                                    type: 'success'
                                });
                                self.closeForm()
                            } else {
                                this.$message.error('submit failure!');
                            }
                        }).catch((err) => {
                            console.log(err)
                        })
                    } else {
                        return false
                    }
                })
            }
        }
    })
</script>

</body>
</html>
