<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>irillePlat</display-name>
    <!--GuIce 单例-->
    <listener>
        <listener-class>irille.Config.GuiceConfig</listener-class>
    </listener>
    <!--GuIce 单例-->
    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>irille.action.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>urlReWrite</filter-name>
        <filter-class>irille.filter.urlRewrite</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>urlReWrite</filter-name>
        <url-pattern>/country/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>slf4j</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>guice</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>guice</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>sellerPermission</filter-name>
        <filter-class>irille.pub.svr.PermissionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sellerPermission</filter-name>
        <url-pattern>/seller/*</url-pattern>
    </filter-mapping>
    <!-- 	<servlet>
            <servlet-name>StartInitServlet</servlet-name>
            <servlet-class>irille.pub.svr.StartInitServlet</servlet-class>
            <load-on-startup>0</load-on-startup>
        </servlet> -->
    <servlet>
        <servlet-name>ShoestpInitServlet</servlet-name>
        <servlet-class>irille.pub.svr.ShoestpInitServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RandomImageServlet</servlet-name>
        <servlet-class>irille.pub.verifyImgServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RandomImageServlet</servlet-name>
        <url-pattern>/servlet/verify.img</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>uploadPath</param-name>
        <param-value>uploads</param-value>
    </context-param>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>application/txt</mime-type>
    </mime-mapping>
    <servlet>
        <servlet-name>pushlet</servlet-name>
        <servlet-class>nl.justobjects.pushlet.servlet.Pushlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>pushlet</servlet-name>
        <url-pattern>/mvc/pushlet.srv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- 配置500页面 -->
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <!-- <security-constraint>
        <web-resource-collection>
            <web-resource-name>SSL</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint> -->
</web-app>
