/* 鞋款分类wrap */

#xsq .w1200{
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
/* #xsq .swiper-wrapper{
  box-sizing: content-box;
} */
#xsq .goods-category-wrap{
  /* padding: 56px 24px; */
  background: url("../images/man-banner.jpg") no-repeat center / cover;
}
#xsq .goods-category-wrap .goods-category-item{
  padding: 56px 24px;
  /* background: url("../images/man-banner.jpg") no-repeat center / cover; */
}
#xsq .goods-category-wrap .goods-category-item .flex-left-right{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#xsq .goods-category-item .big-title{
  margin-bottom: 10px;
  font-size: 40px;
}
#xsq .goods-category-item .descript-box{

}
#xsq .goods-category-item .descript-box .content-text{
  line-height: 26px;
  font-size: 22px;
}
#xsq .goods-category-item .descript-box .btn-see-all{
	height: 50px;
	line-height: 50px;
  margin-top: 90px;
  padding: 0 35px;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
	background-color: #2435a1;
}

/* 3个轮播中 右侧-产品 */
#xsq .goods-category-item .right-goods-out-wrap{
  width: 761px;
  margin: 0;
  flex-shrink: 0;
  /* display: flex; */
  /* align-items: flex-start; */
  /* justify-content: space-between; */
}
#xsq .goods-category-item .right-goods-wrap{
  width: 761px;
  /* flex-shrink: 0; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#xsq .goods-category-item .right-goods-wrap .item{
  width: 180px;
	height: 227px;
	background-color: #fff;
}
#xsq .goods-category-item .right-goods-wrap .goods-pic{
  width: 180px;
	height: 150px;
	object-fit: contain;
}
#xsq .goods-category-item .right-goods-wrap .goods-name{
  line-height: 22px;
  padding: 12px 20px;
  font-size: 16px;
	color: #333;
}

/* 男鞋、女、童的nav wrap */
#xsq .goods-category-nav-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 34%;
  height: 104px;
  cursor: pointer;
  font-size: 31px;
	background-color: #fff;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item .icon{
  margin-right: 30px;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item .icon-off{
  display: inline-block;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item .icon-on{
  display: none;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item.active{
  color: #fff;
  background-color: #2435a1;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item.active .icon-off{
  display: none;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item.active .icon-on{
  display: inline-block;
}
#xsq .goods-category-nav-wrap .goods-category-nav-item.active:after{
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  border: 17px solid transparent;
  border-bottom: 17px solid #2435a1;
}
