@charset "utf-8";
body{
    width:100%;
    margin:0 auto;
}
*{
    margin:0;
    padding:0;
}
.clearfloat::after{
    content: " ";
    display: block;
    clear: both;
}
.clearfloat{
    zoom:1;
}
a{
	text-decoration: none;
}
.inline-block-h80{
  display: inline-block;
  line-height: 80px;
  width: auto!important;
  padding-left: 30px;
  padding-right: 30px;
}

.rmnybfcon a,.rmnybthcon a,.rmnybfthcon a,.rmnybfivcon a,.rmnybsixcon a,.rmnybsevcon>a{
    width: 65%;
    height: 60px;
    font-size: 2.4em;
    display: inline-block;
    border-radius: 15px;
    line-height: 60px;
    background-color: rgb(228,53,59);
    color: white;
    margin-bottom: 75px;
    box-shadow: 0 0 35px 0px rgba(255, 53, 59, 0.5);
}
.rmnybottomsev{
    width: 100%;
    text-align: center;
    /*margin-bottom: 40px;*/
}
.rmnybottomsev .rmnybsevcon{

}
.rmnybsevcon img:nth-child(1){
    width: 75%;
    margin-bottom: 15px;
}
.rmnybsevcon h3{
    width: 70%;
    margin: 0 auto;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 70px;
}
.rmnybsevcon img:nth-child(3){
    width: 73%;
    margin-left: 10%;
    margin-bottom: 45px;
}
.rmnybsevcon p.pur_p{
    font-size: 45px;
    line-height: 90px;
    margin-bottom: 50px;
		text-align: left;
		width: 68%;
		margin: 0 auto;
		color: #5E5E5E;
}
.rmnybsevcon p.pur_p.margin_bottom_20{
		margin-bottom: 40px;
}
.rmnybsevcon p .dot{
		display: inline-block;
		width: 15px;
		height: 15px;
		border: 2px solid #0154A2;
		border-radius: 50%;
		margin-bottom: 10px;
		margin-right: 10px;
}
.rmnybsevcon p .bigblue{
    font-size: 1.7em;
    color: rgb(0,81,158);
    margin: 45px 10px;
		font-weight: 700;
}
.rmnybsevcon p .bigyellow{
    font-size: 1.4em;
    color: rgb(255,210,0);
    margin: 40px auto;
		font-weight: 700;
}
.rmnybsevcon>span{
    width: 50%;
}
.rmnybottomsix{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.rmnybottomsix .rmnybsixcon{
    background-image: url(../imgs/rmnyb24.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 10% 5%;
    padding-top: 100px;
}
.rmnybsixcon h2{
	font-size: 55px;
}
.rmnybsixcon h3{
    font-size: 30px;
    margin-bottom: 30px;
		font-weight: 500;
}
.rmnybsixcon p{
    width: 86%;
    margin: 0 auto;
    text-align: left;
    line-height: 45px;
    margin-bottom: 20px;
    font-size: 1.8em;
		color: #5E5E5E;
}
.rmnybsixcon .rmnybsiximgs{
    width: 86%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.rmnybsiximgs img{
    width: 30%;
}
.rmnybsiximgs img:nth-child(2){
    margin: auto 3.4%;
}
.rmnybsixcon span{
    width: 35%;
}
.rmnybottomfiv{
    width: 100%;
    text-align: center;
}
.rmnybottomfiv .rmnybfivcon{

}
.rmnybfivcon h2{
    font-size: 4em;
    margin-bottom: 70px;
}
.rmnybfivcon>img{
    width: 60%;
    margin-bottom: 45px;
}
.rmnybfivcon .rmnybfivad{

}
.rmnybfivad .advantage{
    float: left;
    width: 50%;
}
.advantage img{
    width: 20%;
    margin-bottom: 20px;
}
.advantage h4{
    font-size: 2.4em;
    margin-bottom: 10px;
}
.advantage p{
    width: 67%;
    height: 405px;
    margin: 0 auto;
    font-size: 1.6em;
    text-align: left;
    line-height: 45px;
    opacity: 0.6;
    margin-bottom: 30px;
}
.rmnybfivcon span{
    width: 30%;
}
.rmnybottomfth{
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
}
.rmnybottomfth .rmnybfthcon{

}
.rmnybfthcon>img{
    width: 100%;
    margin-bottom: 50px;
}
.rmnybfthcon h2{
    font-size: 4em;
    margin-bottom: 30px;
}
.rmnybfthcon h3{
    width: 60%;
    margin-left: 20%;
    text-align: left;
    font-size: 2.7em;
    margin-bottom: 30px;
    text-align: center;
}
.rmnybfthcon p{
    width: 60%;
    margin: 0 auto;
    font-size: 2.5em;
    opacity: 0.5;
    margin-bottom: 55px;
    font-weight: bold;
}
.rmnybfthcon .rmnybfthconimgs{

}
.rmnybfthconimgs img{
    height: 55px;
    margin-left: 2%;
    margin-bottom: 45px;
}
.rmnybfthcon span{
    width: 45%;
}
.rmnybottomthred{
    width: 100%;
    margin-bottom: 50px;
}
.rmnybottomthred .rmnybthcon{
    text-align: center;
}
.rmnybthcon h2{
    font-size: 3.2em;
    margin-bottom: 40px;
}
.rmnybthcon .rmnybthimgs{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.rmnybthimgs img{
    width: 47%;
    margin-bottom: 15px;
}
.rmnybthimgs img:nth-child(1),.rmnybthimgs img:nth-child(3){
    margin-right: 3%;
}
.rmnybthcon span{
    width: 45%;
}

.rmnybottomsecond{
    width: 100%;
    padding-bottom: 100px;
    background-color: #fbf8fb;
}
.rmnybottomsecond .rmnybscon{
    width: 90%;
    margin-left: 10%;
}
.rmnybscon h2{
    font-size: 3.2em;
    padding-top: 10px;
}
.rmnybscon .bscontactus{
    border-top: 1px solid grey;
    width: 75%;
    margin: 20px 0;
}
.bscontactus p{
    font-size: 1.8em;
    height: 50px;
    line-height: 50px;
    margin-bottom: 5px;
}
.rmnybscon .bscontactus:nth-child(3){
    border-top: none;
}

.rmnybottomfirst{
    width: 100%;
    position: relative;
}
.rmnybottomfirst img{
    width: 100%;
}
.rmnybottomfirst .rmnybfcon{
    position: absolute;
    width: 74%;
    top: -75px;
    left: 13%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}
.rmnybfcon h2{
    font-size: 3.2em;
    padding: 65px 0 50px;
}

#romania{
    position: relative;
}
#romania .romania-poster{
    width: 980px;
    height: 1160px;
    background: url("../imgs/romaniaPoster-01.png") center no-repeat;
    background-size: 100% 100%;
    position: relative;
}
#romania .romania-poster .language{
    width: 320px;
    padding: 0 20px;
    background-color: #f7f7f7;
    position: fixed;
    right: 0;
    top: 400px;
    z-index: 999;
}
#romania .romania-poster .language p{
    height: 70px;
    line-height: 50px;
    font-size: 30px;
}
#romania .romania-poster .language p span.lan{
    font-size: 30px;
		margin: 10px 0;
    border-right: 1px solid #aaaaaa;
		display: inline-block;
		width: 200px;
}
#romania .romania-poster .language p img{
    vertical-align: middle;
    height: 40px;
    margin-left: 30px;
		margin-bottom: 10px;
}
#romania .romania-poster .language ul.language-show li{
    list-style-type: none;
    font-size: 40px;
    line-height: 80px;
		text-align: left;
}
#romania .romania-poster .language ul.language-show li a{
	color:#5E5E5E;
}
#romania .romania-poster .language ul.language-show li img{
    height: 30px;
    vertical-align: middle;
}
#romania .romania-poster .image-bottom{
    margin-left: 60px;
}
#romania .yellow-text{
    color: #ffd200;
}
#romania .white-text{
    color: white;
}
#romania .romania-poster > p{
    margin-left: 60px;
    width: 810px;
}
#romania .romania-poster p.title-text{
    font-size: 60px;
    font-weight: bold;
    padding-top: 200px;
		line-height: 70px;
		margin-bottom: 10px;
}
#romania .romania-poster p.slogan{
    font-size: 65px;
    line-height: 70px;
}
#romania .romania-poster p.time{
    font-size: 45px;
    font-weight: 700;
		margin-top: 10px;
}
#romania .romania-poster p.content-01{
    font-size: 30px;
}
#romania .romania-poster p.content-02{
    font-size: 35px;
		line-height: 40px;
}
#romania .romania-poster .image-bottom button,#romania .romania-poster .image-bottom a{
    display: inline-block;
    padding: 0 20px;
    height: 80px;
    line-height: 80px;
		font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    margin-top: 20px;
    background: #0154a2;
}
#romania .romania-poster .image-bottom button:nth-of-type(1),#romania .romania-poster .image-bottom a:nth-of-type(1),#romania .romania-poster .image-bottom a:nth-of-type(2){
    background-color: #e43527;
    color: white;
    margin-right: 20px;
}
#romania .romania-poster .image-bottom a:nth-of-type(2){
  overflow: hidden;
}
#romania .producrt{
    width: 980px;
    height: 1200px;
    background: url("../imgs/header-image01.png") center no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: -120px;
    text-align: center;
		padding-top: 160px;
}
#romania .producrt .pro-text{
    font-size: 60px;
		line-height: 70px;
    color: white;
}
#romania .producrt .mu-carousel-item h2{
    padding: 0;
    font-weight: 300;
}
#romania .producrt .mu-carousel-item .detail{
    width: 90%;
    height: 550px;
    margin: 0 auto;
    background-color: white;
}
#romania .producrt .mu-carousel{
    height: 640px;
		margin-top: 40px;
}
#romania .producrt .mu-carousel-item .detail img{
    width: 100%;
}
#romania .producrt .mu-carousel-item .detail h4{
    font-size: 46px;
    text-align: left;
    font-weight: 500;
    margin-left: 40px;
    margin-top: 20px;
		color: #000000;
}
#romania .producrt .mu-carousel-item .detail p{
    font-size: 36px;
    text-align: left;
    margin-left: 40px;
    color: #aaaaaa;
}
#romania .producrt .mu-carousel-indicator-button{
    width: auto;
    height: auto;
}
#romania .producrt .mu-icon-button{
    border-radius: 4px;
}
#romania .producrt .mu-carousel-indicator-icon{
    width: 80px;
    height: 20px;
    border-radius: 10px;
    opacity: 1;
}
#romania .producrt .mu-carousel-indicator-button__active .mu-carousel-indicator-icon{
    width: 140px;
    background-color: #0154a2;
}
#romania .producrt .producrt-button{
    height: 80px;
    font-size: 40px;
    padding: 0 20px;
    margin-top: 40px;
    border-radius: 15px;
    border: none;
    background-color: #e43527;
    color: white;
}
#romania .producrt-text{
    width: 100%;
    height: 400px;
    margin-top: -120px;
    margin-bottom: 100px;
}
#romania .producrt-text .text-content{
    display: inline-block;
    width: 50%;
    height: 100%;
    margin-left: -3px;
    background-color: #f1f1f1;
    padding: 40px 60px;
    vertical-align: top;
    font-size: 40px;
    color: #5e5e5e;
}
#romania .producrt-text .text-content:nth-of-type(2){
    background-color: #e43527;
    color: white;
    font-size: 50px;
}
#romania .rmnybsevconzh{
    font-size: 4em;
}
#romania .romania-poster a.logo{
    width: 250px;
    position: absolute;
    right: 60px;
    top: 100px;
}
#romania .romania-poster a.logo img{
    width: 100%;
}

.rmnybottomsev .rmny_title{
    font-size: 60px;
}

.rmnybottomfirst .rmnybfchoose{
    position: absolute;
    top: 55%;
    left: 10.5%;
    width: 75%;
}
.rmnybfchoose  div{

}
.rmnybfchoose  input{
    display: none;
    width: 30px;
    height: 30px;
}
.rmnybfchoose  label{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 14px;
    border: 2px solid blue;
}
.rmnybfchoose  p{
    display: inline-block;
    width: 90%;
    margin-left: 3%;
    font-size: 36px;
    color: white;
}
.rmnybfchoose  label,.rmnybfchoose  p{
    vertical-align: text-top;
}
.rmnybfchoose  label img{
    width: 150%;
    margin-top: -40%;
    margin-left: 20%;
}

.rmnybfcon h2 {
    font-size: 4.2em;
    padding: 0 0;
}
.rmnybfcon h3 {
    font-size: 2em;
		font-weight: 500;
    padding: 0px 0 50px;
}
.rmnybthcon h2 {
    font-size: 4.2em;
    text-shadow: -30px -30px 5px rgba(155, 155, 155, 0.1);
}
#romania .rmnymap{
    width: 100%;
    height: 550px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}
.rmnybfthcon h2 {
    font-size: 4em;
}
.rmnybfthcon p {
    display: inline-block;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    font-size: 2.4em;
    opacity: 1;
    padding-left: 0.5em;
    margin-bottom: 13px;
    font-weight: normal;
}
.rmnybfthcon div .graycircle{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: grey;
    border-radius: 50%;
    margin-top: 20px;
}
.rmnybfthcon div .graycircle,.rmnybfthcon p{
    vertical-align: text-top;
}
.rmnybfthcon a{
    margin-top: 40px;
}
.rmnybfivcon>img {
    width: 60%;
    margin-bottom: 75px;
}
.rmnybfivad .advantage {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
.advantage img {
    width: 20%;
    margin-bottom: 20px;
}
.advantage h4 {
    font-size: 4em;
    color: rgb(41,75,174);
    margin-bottom: 10px;
}
.advantage p {
    width: 70%;
    height: auto;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    line-height: 45px;
    opacity: 1;
    margin-bottom: 20px;
}
.advantage div{
    width: 55%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}
.advantage div span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #909090;
    border-radius: 50%;
    vertical-align: text-top;
    margin-top: 17px;
}
.advantage div p{
    display: inline-block;
    vertical-align: text-top;
    width: 92%;
    text-align: left;
    padding-left: 0.5em;
    margin-bottom: 0;
    font-size: 2.2em;
    opacity: 0.5;
}
.red-title{
    color: #b4b4b4;
}

.hoodle{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    overflow: hidden;
}
.hoodle_modle{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1110;
}
.hoodle_form{
    width: 80%;
    position: fixed;
    top: 50px;
    left: 10%;
    margin-left: auto;
    z-index: 1111;
    background-color: white;
    text-align: center;
}
.hoodle_form .hf-border{
    width: 100%;
    overflow: scroll;
}
.hoodle .hoodle_form .close-btn{
    display: inline-block;
    font-size: 80px;
    position: absolute;
    top: -35px;
    right: -35px;
    width: 80px;
    height: 80px;
    line-height: 70px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    transform:rotate(45deg);
}
.hoodle_form .hf-title{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 50px;
}
.hoodle_form .hf-input{
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
}
.hoodle_form .hf-input .lable-span{
    font-size: 35px;
    line-height: 40px;
		display: block;
}
.hoodle_form .hf-input input,
.hoodle_form .hf-input select{
    width: 600px;
    height: 70px;
    margin-top: 20px;
    border: 2px solid #CC5522;
    border-radius: 10px;
    font-size: 30px;
    padding: 0 20px;
    background-color: white;
}
.hoodle_form .hf-input textarea{
    width: 600px;
    margin-top: 20px;
    border: 2px solid #CC5522;
    border-radius: 10px;
    font-size: 30px;
    padding: 0 20px;
}
.hoodle_form .hf-btn{
    text-align: center;
    margin-left: 0;
    margin-top: 50px;
}
.hoodle_form .hf-btn .btn{
    display: inline-block;
    width: 350px;
    height: 100px;
    line-height: 100px;
    background-color: red;
    color: white;
    font-size: 40px;
    border-radius: 20px;
    font-weight: 700;
}
.hoodle .hf-input .hf-text{
    width: 90%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}
.successfully{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1200;
}
.successfully .s-success{
    width: 80%;
    background-color: white;
    position: fixed;
    top: 30%;
    left: 10%;
}
.successfully .s-success .close-icon{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    transform:rotate(45deg);
    font-size: 100px;
    width: 100px;
    height: 100px;
    line-height: 100px;
}
.successfully .s-success .himt{
    margin-top: 130px;
}
.successfully .s-success .himt img{
    width: 150px;
    vertical-align: middle;
}
.successfully .s-success .himt .himt-text{
    display: inline-block;
    font-size: 60px;
    width: 350px;
    margin-left: 50px;
    text-align: left;
    vertical-align: middle;
}
.successfully .s-success .not-btn{
    display: inline-block;
    width: 100%;
    height: 160px;
    line-height: 160px;
    background-color: #51ca98;
    color: white;
    font-weight: 700;
    font-size: 60px;
    margin-top: 40px;
}
.container{
    width: 80%;
}
.mu-form-item-label{
    text-align: left;
    font-size: 40px;
    line-height: 80px;
}
.mu-form-item .mu-input{
    border: 2px solid #CC5522;
    border-radius: 10px;
    height: 70px;
}
.mu-text-field-multiline{
    height: 100%;
}
.mu-input{
    font-size: 35px;
}
.mu-list-dense .mu-item{
    height: 50px;
}
.mu-list-dense .mu-item-title{
    font-size: 30px;
}
.mu-form-item .mu-button{
    margin: 0 auto;
    width: 350px;
    height: 100px;
    background-color: #e43527;
    border-radius: 10px;
    font-size: 50px;
}
.mu-form-item-help{
    font-size: 25px;
}
.mu-text-field-input,
.mu-select-input{
    height: 66px;
    padding: 10px;
}
.mu-select-icon{
    width: 40px;
    height: 40px;
}
